{include file="BaseViews/header.html"}
<section class="content">
  <div class="left nomargin">
    <div class="classes">
      <h2>{l s='Contents'}</h2>
      <div><a href="{$url}/blog/">{l s='Return to Main Blog'}</a></div>
    </div>
  </div>
  <div class="right">
    <div class="blog">
      <div style="padding-bottom: 20px">
        <h2>{$some.title}</h2>
        <div class="info">{l s="Published by"} {$some.job}, <a>{$some.name} {$some.surname}</a> | {$some.date|date_format:"%A, %B %e, %Y"} | {if $some.class}<a>{$some.class}</a>{else}Not Categorized{/if}</div>
        {assign var=text value="•"|explode:$some.text}
        <div>{$text[0]}</div>
        <div id="cut">{$text[1]}</div>
      </div>
      <div id="vk_comments"></div>
      <script type="text/javascript">
      VK.Widgets.Comments("vk_comments", {limit: 10, width: "709", attach: "*"});
      </script>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}
