{include file="BaseViews/header.html"}
<section class="content">
  <div class="left nomargin">
    <div class="classes">
      <h2>{l s='Article Categories'}</h2>
      <div><a href="{$url}/blog/">{l s='All articles'}</a></div>
      {foreach from=$blog_classes item=some}
      <div><a href="{$url}/blog/{$some.alias}">{$some.class}</a></div>
      {foreachelse}
      <div>No categories</div>
      {/foreach}
    </div>
  </div>
  <div class="right">
    <div class="blog">
      {foreach from=$blog_latest_articles item=some name=blog}
      <div style="padding-bottom: 20px">
        <h2><a href="{$url}/blog/{$some.article_alias}/">{$some.title}</a></h2>
        <div class="info">
          {l s='Published by'} {$some.job}, <a>{$some.name} {$some.surname}</a> | {$some.date|date_format:"%A, %B %e, %Y"} |
          {if $some.class}<a href="{$url}/blog/{$some.alias}">{$some.class}</a>{else}Not Categorized{/if}</div>
        {assign var=text value="•"|explode:$some.text}
        <div>
          {if $some.promo}<p><img src="http://www.tooflya.com/assets/img/blog/{$some.icon}" alt="" class="blog-img float-left" /></p>{/if}
          {$text[0]}
        </div>
        <div><a class="button" href="{$url}/blog/{$some.article_alias}/#cut">{l s='Read more'}</a> <!--and share with friends:--></div>
      </div>
      {if !$smarty.foreach.blog.last}<div class="elements-devider"></div>{/if}
      {foreachelse}
      <div><b>{l s='Sorry, but we have no articles in this section'}.</b></div>
      {/foreach}
      {if $blog_latest_articles && ($page > 0 || $page < $maxPage)}
      <div class="navigation" style="margin-top: 40px">
        {if $page > 0}<a class="button" href="{$url}/blog/{$class}{$page - 1}/">&lt;</a>{/if}
        {if $page < $maxPage}<a class="button" href="{$url}/blog/{$class}{$page + 1}/">&gt;</a>{/if}
      </div>
      {/if}
    </div>
  </div>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}
