<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Current Project (Bubble Fun)</li>
      <li class="active"><a class="local" rel="1">Timeline</a></li>
      <!--<li><a class="local" rel="2">Notes</a></li>
      <li class="nav-header">Office Music</li>
      <li><a class="local" rel="3">Manage Playlist</a></li>
      <li class="nav-header">Journals</li>
      <li><a class="local" rel="4">Events History</a></li>-->
    </ul>
  </div>
</div>
