<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tooflya {if isset($customTitle)}| {$customTitle}{/if}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{$url}/assets/css/style.css" rel="stylesheet">

    <script src="{$url}/assets/js/jquery.js"></script>
    <script src="{$url}/assets/js/library.js"></script>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{$url}/assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body class="blank">
    <section class="e404">
      <div class="title"><img src="{$url}/assets/img/404.png" alt="" /></div>
      <div class="text">
        <h1>Простите, мы не хотели!</h1>
        <p>Простите нас - мы ничего не крали! Если вы что-то здесь оставили то это могла украсть только эта свинья в полосочку.</p>
        <p>Если это действительно так, то мы примем меры в кратчайшие сроки и этот полосатый конь вернет вам все полоски!</p>
      </div>
      <div class="clearfix"></div>
    </section>
  </body>
</html>
