[submodule "games/project-birds"]
	path = games/project-birds
	url = git@github.com:tooflya/project-birds-js-client.git
[submodule "games/signs"]
	path = games/signs
	url = git@github.com:tooflya/project-signs-js-client.git
