AddDefaultCharset utf-8
Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on

RewriteCond %{HTTP_HOST} ^tooflya\.com$ [NC]
RewriteRule ^(.*)$ http://www.tooflya.com/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^company\.tooflya\.com$ [NC]
RewriteRule ^(.*)$ http://www.tooflya.com/corp/ [R=301,L]

RewriteRule ^(en|ru|fr|ua|ch|de)(.*)$ $2 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_URI} !^/ajax

RewriteRule . index.php

<Files "config.php">
    Deny from all
</Files>

php_value session.cookie_lifetime 360000
php_value session.gc_maxlifetime 360000

DirectoryIndex index.php
