{include file="BaseViews/header.html"}
<section class="content">
  <div class="left nomargin">
    <div class="classes">
      <h2>{l s='Contents'}</h2>
      <div><a href="#who">{l s='Who we are?'}</a></div>
      <div><a href="#materials">{l s='Materials'}</a></div>
    </div>
  </div>
  <div class="right">
    <h1>{l s='Press'}</h1>
    <p>{l s='Here we have information you can use when linking to our projects or the company'}.</p>
    <h3 id="who">{l s='Who we are?'}</h3>
    <p>
    	{l s='<b>Tooflya Inc.</b> - young company dedicated to the development of applications for mobile platforms'}.<br />
    	<b>{l s='Location'}:</b> {l s='Ukraine, Kharkov'}.
    </p>
    <h3 id="materials">{l s='Materials'}</h3>
    <p><b>{l s='Logo'}</b></p>
    <p><a href="{$url}/assets/img/logo_big_zero.png" target="_blank"><img src="{$url}/assets/img/logo_small_zero.png" alt="" /></a></p>
    <p><a href="{$url}/assets/img/logo_big_wh.png" target="_blank"><img src="{$url}/assets/img/logo_small_wh.png" alt="" /></a></p>
  </div>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}
