{include file="BaseViews/header.html"}
<section class="content">
  <div class="left nomargin">
    <div class="classes">
      <h2>Contents</h2>
      <div><a href="#who">Who we are?</a></div>
      <div><a href="#materials">Materials</a></div>
    </div>
  </div>
  <div class="right">
    <h1>Press</h1>
    <p>Here we have information you can use when linking to our projects or the company.</p>
    <h3 id="who">Who we are?</h3>
    <p>
    	<b>Tooflya Inc.</b> - young company dedicated to the development of applications for mobile platforms.<br />
    	<b>Location:</b> Ukraine, Kharkov.
    </p>
    <h3 id="materials">Materials</h3>
    <p><b>Logo</b></p>
    <p><img src="{$url}/assets/img/logo.png" alt="" /></p>
  </div>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}
