{include file="BaseViews/header.html"}
<section class="content">
  {include file="CompanyController/include/left.html"}
  <div class="right">
  <h1>{l s='Корпоративный сервис'} <sup>Beta</sup></h1>
  {include file="CompanyController/include/menu.html"}
  <h2>{$project.name}</h2>
  {include file="CompanyController/include/project/users.html"}
  {include file="CompanyController/include/project/data.html"}
  {include file="CompanyController/include/project/push.html"}
</section>
{include file="BaseViews/footer.html"}
