{include file="BaseViews/header.html"}
<section class="contacts">
</section>
<div class="content">
  <h1>Contact us</h1>
  <p>You can contact us you can contact us you can contact us you can contact us you can contact us you can contact us you can contact us you can contact us you can contact us you can contact us you can contact us you can contact us</p>
  <form>
    <table border="0" cellspacing="6">
      <thead>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td><label for="">Your name:</label></td>
          <td><input type="text" placeholder="Enter your name"></td>
        </tr>
        <tr>
          <td><label for="">Your email:</label></td>
          <td><input type="text" placeholder="Enter your email"></td>
        </tr>
        <tr>
          <td><label for="">Message:</label></td>
          <td><textarea cols="70" rows="14" placeholder="Area for your message"></textarea></td>
        </tr>
        <tr>
          <td></td>
          <td><a class="button">Send message</a></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
{include file="BaseViews/footer.html"}
