<div class="description">
  <div class="class">
    <div class="title">Info</div>
    <ul>
      <li>
        <div>Server domain: <b>{$server.main.domain}</b></div>
        <div>Server ip: <b>{$server.main.ip}</b></div>
      </li>
      <li>
        <div>Operation system: <b>{$server.main.system}</b></div>
        <div>Total Server Storage: <b>{($server.main.disk.total / 1024 / 1024 / 1024)|round:2} GB</b></div>
        <div>&nbsp;Free Server Storage: <b>{($server.main.disk.free / 1024 / 1024 / 1024)|round:2} GB</b></div>
      </li>
      <li>
        <div>Total Server Memory: <b>{($server.main.memory.total / 1024 / 1024)|round:2} GB</b></div>
        <div>&nbsp;Free Server Memory: <b>{($server.main.memory.free / 1024 / 1024)|round:2} GB</b></div>
        <div>Server Memory Available for PHP: <b>{$server.main.memory.available}</b></div>
      </li>
    </ul>
    <div>
      Uptime: <b>{$server.main.uptime.days} days, {$server.main.uptime.hours} hours, {$server.main.uptime.minutes} min, {$server.main.uptime.seconds} sec,
      <span class="uptime {if $server.main.uptime.percent < 90}critical{elseif $server.main.uptime.percent < 99}warning{else}success{/if}">{$server.main.uptime.percent|round:2}%</span> by last week</b>
    </div>
    <div>
      <canvas id="server-{$server.main.id}-uptime" width="960px" height="150px"></canvas>
    </div>
    <div>Load Average: <b>{$server.main.la.one|round:2}, {$server.main.la.five|round:2}, {$server.main.la.fifteen|round:2} by last week</b></div>
    <div>
      <canvas id="server-{$server.main.id}-la" width="960px" height="150px"></canvas>
    </div>
  </div>
  <div class="class">
   <div class="title">Software</div>
    <div>Apache status: <b>Fine</b></div>
    <div>Nginx status: <b>Fine</b></div>
  </div>
  <div class="class">
   <div class="title">Bandwidth</div>
    <div>Average bandwidth per minute: <b>{$server.main.bandwidth|round:2} KBit/s by last week</b></div>
    <div>
      <canvas id="server-{$server.main.id}-bandwidth" width="960px" height="150px"></canvas>
    </div>
    <div>Average ping: <b>{$server.main.ping|round:2} ms</b></div>
    <div>
      <canvas id="server-{$server.main.id}-ping" width="960px" height="150px"></canvas>
    </div>
  </div>
</div>

<script>
  var structure = {
    labels: {
      bandwidth: [],
      ping: [],
      uptime: [],
      la: []
    },
    data: {
      bandwidth: [],
      ping: [],
      uptime: [],
      la: [[], [], []]
    }
  };

  {foreach from=$bandwidth item=some}
  structure.labels.bandwidth.push('{$some.time|date_format:"%d %B"}');
  structure.data.bandwidth.push({$some.speed});
  {/foreach}

  {foreach from=$bandwidth item=some}
  structure.labels.ping.push('{$some.time|date_format:"%d %B"}');
  structure.data.ping.push({$some.ping});
  {/foreach}

  {foreach from=$uptime item=some name=uptime}
  {if $smarty.foreach.uptime.last}
  {assign var="minutes" value=$time}
  {else}
  {assign var="minutes" value=1440}
  {/if}
  structure.labels.uptime.push('{$some.time|date_format:"%d %B"}');
  structure.data.uptime.push({(100 - ((($minutes - $some.count) / $minutes) * 100)|round:2)});
  {/foreach}

  {foreach from=$la item=some}
  structure.labels.la.push('{$some.time|date_format:"%d %B"}');
  structure.data.la[0].push({$some.one|round:2});
  structure.data.la[1].push({$some.five|round:2});
  structure.data.la[2].push({$some.fifteen|round:2});
  {/foreach}

  function dataset(data, color, label) {
    switch(color) {
      default:
      return [{
        label: label,
        fillColor: "rgba(174, 218, 235, 0.5)",
        strokeColor: "rgba(122, 161, 176, 1.0)",
        pointColor: "rgba(255, 255, 255, 1.0)",
        pointStrokeColor: "rgba(122, 161, 176, 1.0)",
        pointHighlightFill: "rgba(255, 255, 255, 1.0)",
        pointHighlightStroke: "rgba(255, 255, 255, 1.0)",
        data: data
      }];
      break;
      case 1:
      return [{
        label: label,
        fillColor: "rgba(220, 220, 220, 0.2)",
        strokeColor: "rgba(220, 220, 220, 1)",
        pointColor: "rgba(220, 220, 220, 1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220, 220, 220, 1)",
        data: data
      }];
      break;
    }
  };

  var uptimeChartData = {
    labels: structure.labels.uptime,
    datasets: dataset(structure.data.uptime, 0, '%')
  };

  var bandwidthChartData = {
    labels: structure.labels.bandwidth,
    datasets: dataset(structure.data.bandwidth, 0, 'KBit/s')
  };

  var pingChartData = {
    labels: structure.labels.ping,
    datasets: dataset(structure.data.ping, 0, 'ms')
  };

  var laChartData = {
    labels: structure.labels.la,
    datasets: [
      dataset(structure.data.la[0], 0, '1 minute')[0],
      dataset(structure.data.la[1], 0, '5 minutes')[0],
      dataset(structure.data.la[2], 0, '15 minutes')[0]
    ]
  };

  var options = {
    scaleGridLineColor: "rgba(204, 204, 204, 1)",
    responsive: true,
    tooltipTemplate: "<%= value %> <%= datasetLabel %>",
    multiTooltipTemplate: "<%= datasetLabel %>: <%= value %>"
  };
  new Chart(document.getElementById("server-{$server.main.id}-uptime").getContext("2d")).Line(uptimeChartData, options);
  new Chart(document.getElementById("server-{$server.main.id}-bandwidth").getContext("2d")).Line(bandwidthChartData, options);
  new Chart(document.getElementById("server-{$server.main.id}-ping").getContext("2d")).Line(pingChartData, options);
  new Chart(document.getElementById("server-{$server.main.id}-la").getContext("2d")).Line(laChartData, options);
</script>
