<div class="class">
  <div class="title">Info</div>
  <ul>
    <li>
      <div>Server: <b>games.tooflya.com</b></div>
      <div>Server Port: <b>{$info.port}</b></div>
    </li>
    <li>
      <div>Destination: <b><a href="//{$info.url}" target="_blank">{$info.url}</a></b></div>
      <div>Version: <b>{$info.version}</b></div>
    </li>
    <li>
      <div>Total Users: <b>{$more.users.total}</b></div>
      <div>Online Users: <b>{$more.users.online}</b></div>
    </li>
  </ul>
  <div class="title">Users</div>
  <div>New Users: <b>{$more.users.new} by last week</b></div>
  <div>Active Users: <b>{$more.users.active} by last week</b></div>
  <div>
    <canvas id="game-{$info.id}-users" width="960px" height="150px"></canvas>
  </div>
  {if $levels|count > 1}
  <div class="title">Levels</div>
  <div>Average level: <b>{$more.levels.average}</b></div>
  <div>Most hard level: <b>{$more.levels.hard}</b></div>
  <div>
    <canvas id="game-{$info.id}-levels" width="960px" height="150px"></canvas>
  </div>
  {/if}
  {if $info.payments}
  <div class="title">Finance</div>
  <div>Retention: <b>{$more.finance.retention.free / $more.finance.retention.pay} %</b> <sup>It's mean that only {$more.finance.retention.pay} users from {$more.finance.retention.free + $more.finance.retention.pay} is pay for this app.</sup></div>
  <div>In-app's: <b>{$more.finance.count} by last week</b></div>
  <div>
  </div>
  {/if}
</div>{$more.users.graphics.active.count}

<script>
  var structure = {
    labels: {
      users: [],
      levels: [],
    },
    data: {
      users: [[], []],
      levels: []
    }
  };

  {foreach from=$users item=some}
  structure.labels.users.push('{$some.join|date_format:"%d %B"}');
  structure.data.users[0].push({$some.count});
  {/foreach}

  {foreach from=$visits item=some}
  structure.data.users[1].push({$some.count});
  {/foreach}

  var level = 1;
  {foreach from=$levels item=some}
  structure.labels.levels.push(level.toString());
  structure.data.levels.push({$some});
  level++;
  {/foreach}

  function dataset(data) {
    return [{
      fillColor: "rgba(174, 218, 235, 0.5)",
      strokeColor: "rgba(122, 161, 176, 1.0)",
      pointColor: "rgba(255, 255, 255, 1.0)",
      pointStrokeColor: "rgba(122, 161, 176, 1.0)",
      pointHighlightFill: "rgba(255, 255, 255, 1.0)",
      pointHighlightStroke: "rgba(255, 255, 255, 1.0)",
      data: data
    }];
  };

  var usersChartData = {
    labels: structure.labels.users,
    datasets: [
      dataset(structure.data.users[0])[0],
      dataset(structure.data.users[1])[0]
    ]
  };

  {if $levels|count > 1}
  var levelsChartData = {
    labels: structure.labels.levels,
    datasets: dataset(structure.data.levels)
  };
  {/if}

  var options = {
    scaleGridLineColor: "rgba(204, 204, 204, 1)",
    responsive: true,
    animationSteps: 240
  };
  new Chart(document.getElementById("game-{$info.id}-users").getContext("2d")).Line(usersChartData, options);

  {if $levels|count > 1}
  new Chart(document.getElementById("game-{$info.id}-levels").getContext("2d")).Line(levelsChartData, options);
  {/if}
</script>