<div class="description">
  {foreach from=$gamesinfo item=some}
  <div class="game" id="game-{$some.id}">
    <div class="icon"><img src="{$some.icon}" alt="" /></div>
    <div class="name">
      {$some.name} {$some.version}
      <sup>
      {if $some.platform == 0}www.tooflya.com{/if}
      {if $some.platform == 1}www.vk.com{/if}
      {if $some.platform == 2}www.ok.ru{/if}
      {if $some.platform == 3}www.facebook.com{/if}
      {if $some.platform == 4}plus.google.com{/if}
      {if $some.platform == 5}Google Play{/if}
      {if $some.platform == 6}App Store{/if}
      </sup>
    </div>
    <div class="description">{$some.description}</div>
    <div class="clearfix"></div>
    <div id="game-{$some.id}-more"><img class="preloader" src="{$url}/assets/img/status-preloader.gif" /></div>
  </div>
  <script>
  $(document).ready(function() {
    window.setTimeout(function() {
      ajaxRequest.send({
        url: 'https://status.tooflya.com/ajax/status.php?server=game&id={$some.id}',
        success: function(e) {
          $('#game-{$some.id}-more').html(e.game);
        },
        error: function(e) {
          $('#game-{$some.id}-more').html(data.error);
        }
      });
    }, 1000);
  });
  </script>
  {/foreach}
</div>
