{include file="StatusController/include/header.html"}
<section class="content">
  <div class="header">
  {include file="StatusController/include/links.html"}
  </div>
  <div class="intro">
    <p>
      {l s='We continuously monitor the status of'}
      <a href="http://www.tooflya.com">www.tooflya.com</a>
      {l s='and all its related services. If there are any interruptions in service, a note will be posted here. If you are experiencing problems connecting to'}
      <a href="//services.tooflya.com">Tooflya Network</a>
      {l s='and do not see a notice posted, please email'} <a href="mailto:support@tooflya.com">support@tooflya.com</a>
    </p>
  </div>
  <div class="content">
    <div class="block" id="main-server-status">
      <div class="title">
        <h3>Main Server Status</h3>
      </div>
      <div id="server1-server-status">
        <img class="preloader" src="{$url}/assets/img/status-preloader.gif" />
      </div>
    </div>
    <div class="block" id="database-server-status">
      <div class="title">
        <h3>Database Server Status</h3>
      </div>
      <div id="server3-server-status">
        <img class="preloader" src="{$url}/assets/img/status-preloader.gif" />
      </div>
    </div>
    <div class="block" id="static-server-status">
      <div class="title">
        <h3>Static Server Status</h3>
      </div>
      <div id="server4-server-status">
        <img class="preloader" src="{$url}/assets/img/status-preloader.gif" />
      </div>
    </div>
    <div class="block" id="statistics-server-status">
      <div class="title">
        <h3>Statistics Server Status</h3>
      </div>
      <div id="server2-server-status">
        <img class="preloader" src="{$url}/assets/img/status-preloader.gif" />
      </div>
    </div>
    <div class="block" id="social-networks-status">
      <div class="title">
        <h3>Social Networks API`s Status</h3>
      </div>
      <div class="description">
        <div class="class" id="www.vk.com">
         <div class="title">www.vk.com</div>
         <div class="error"><p>API of this social network is not connected.</p></div>
        </div>
        <div class="class" id="www.ok.ru">
         <div class="title">www.ok.ru</div>
         <div class="error"><p>API of this social network is not connected.</p></div>
        </div>
        <div class="class" id="www.facebook.com">
         <div class="title">www.facebook.com</div>
         <div class="error"><p>API of this social network is not connected.</p></div>
        </div>
        <div class="class" id="plus.google.com">
         <div class="title">plus.google.com</div>
         <div class="error"><p>API of this social network is not connected.</p></div>
        </div>
      </div>
    </div>
  </div>
</section>
<template id="error-template">
<div class="error">
  <p>Server that is responsible for this operation is not responsible or when performing critical error has occurred requiring administrator intervention.</p>
  <p>You could try to contact the server again.</p>
  <p><a class="update" href="#"><b>Update now.</b></a></p>
</div>
</template>
{include file="StatusController/include/footer.html"}
