{include file="BaseViews/header.html"}
<section class="content">
    <h1>{l s='Contact Us'}</h1>
    <p>{l s='We will be glad to use your offers and suggestions to make our website and applications more comfortable for you. So, if you want to request something, or contact on any other question, please fill the mail form. We will be glad to your letters'}.</p>
    <form action="{$url}/feedback/send/" method="POST">
      <table border="0" cellspacing="6">
        <thead>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td><label for="">{l s='Your name'}:</label></td>
            <td><input name="name" type="text" placeholder="{l s='Enter your name'}"></td>
          </tr>
          <tr>
            <td><label for="">{l s='Your email'}:</label></td>
            <td><input name="mail" type="text" placeholder="{l s='Enter your email'}"></td>
          </tr>
          <tr>
            <td><label for="">{l s='Message'}:</label></td>
            <td><textarea name="text" cols="70" rows="14" placeholder="{l s='Area for your message'}"></textarea></td>
          </tr>
          <tr>
            <td></td>
            <td><button type="submit" style="border:none;padding:3px 3px 3px 0;background-color:transparent"><a class="button">Send message</a></button></td>
          </tr>
        </tbody>
      </table>
    </form>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}
