    <footer id="footer">
      <div class="content">
        <div class="footer">
          <div class="content">
            <div class="copyright">
              <div>&copy; Tooflya Inc. 2013 | {l s='Applications Development'}</div>
            </div>
            <div class="language">
              <form id="languages" action="" method="post">
                <select name="language" id="languages-select">
                  {if $language == 'en'}
                  <option value="en">English</option>
                  <option value="ru">Русский</option>
                  {else}
                  <option value="ru">Русский</option>
                  <option value="en">English</option>
                  {/if}
                </select>
              </form>
            </div>
            <!--<div class="social-buttons">
              <ul>
                <li class="facebook"><a href="http://www.facebook.com/pages/Tooflya-Inc/386292514777918" target="_blank"></a></li>
                <li class="twitter"><a href="http://twitter.com/tooflya" target="_blank"></a></li>
                <li class="google"><a href="http://plus.google.com" target="_blank"></a></li>
                <li class="youtube"><a href="http://youtube.com" target="_blank"></a></li>
                <li class="vk"><a href="http://vk.com/tooflya" target="_blank"></a></li>
              </ul>
            </div>-->
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{$url}/assets/js/corporate/library.js"></script>
    <script src="{$url}/assets/js/corporate/events.js"></script>
    <script src="{$url}/assets/js/corporate/comments.js"></script>
  {if !$ajax}
  </div>
  </body>
</html>
  {/if}
