    <div class="container">
        <div class="clearfix"></div>

      <hr>

      <footer>
        <div class="description">
          <div>Corporate portal for employees of Tooflya Inc., 2013</div>
        </div>

        <div class="corporate">
          <div></div>
        </div>

        <div class="clearfix"></div>
      </footer>

    </div>

    <div class="screen-lock" {if !$session.screen-lock}style="display:none"{/if}>
      <div class="wrapper">
        <div><span class="blue">SEO</span> инструменты</div>
          <img src="http://cs406116.userapi.com/u13712446/e_d2c41890.jpg" width="50" height="50" class="avatar">
          <div class="profile-name"><a>Игорь Мац</a></div>
      </div>
    </div>

    <div class="mask">
      <div>Please wait a few seconds...</div>
    </div>

    <div class="events"></div>

    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
  </body>
</html>
