{include file="BaseViews/header.html"}
<section class="content">
  <div class="left nomargin">
    <div class="classes">
      <h2>{l s='Contents'}</h2>
      <div><a href="#password">{l s='Как узнать свой пароль?'}</a></div>
      <div><a href="#company">{l s='Что делать если меня нет в списке пользователей?'}</a></div>
      <div><a href="#charity">{l s='Изменение списков задач и требований'}</a></div>
      <div><a href="#contacts">{l s='Об изменениях состояния задач'}</a></div>
    </div>
  </div>
  <div class="right">
    <h1>{l s='Помощь по корпоративному сервису'}</h1>
    <h3 id="password">{l s='Как узнать свой пароль?'}</h3>
    <p>{l s='Вероятнее всего, первый временный пароль был выдан Вам в конверте с другой полезной информацией вашим HR менеджером'}.</p>
    <p>{l s='Если Вы по каким-то причинам испытываете сложности с паролем, пожалуйста обратитесь к Вашему HR менеджеру, либо в отдел системного администрирования'}.</p>
    <h3 id="company">{l s='Что делать если меня нет в списке пользователей?'}</h3>
    <p>
      {l s='В системе отсутствует свободная регистрация'}.
      {l s='За регистрацию новых сотрудников ответственны системные администраторы'}.
      {l s='В случае если Ваш аакаунт не появился в списке в течении нескольких часов после Вашего первого рабочего дня настоятельно рекомендуем обратиться в отдел системного администрирования, либо к любому HR менеджеру'}.
    </p>
    <h3 id="charity">{l s='Изменение списков задач и требований'}</h3>
    <h3 id="contacts">{l s='Об изменениях состояния задач'}</h3>
  </div>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}
