{include file="BaseViews/header.html"}
<section class="content">
  <div class="left nomargin">
    <div class="classes">
      <h2>{l s='Contents'}</h2>
      <div><a href="#password">{l s='Как узнать свой пароль?'}</a></div>
      <div><a href="#list">{l s='Что делать если меня нет в списке пользователей?'}</a></div>
      <div><a href="#changes">{l s='Изменение списков задач и требований'}</a></div>
      <div><a href="#completision">{l s='Об изменениях состояния задач'}</a></div>
      <div><a href="#sprints-time">{l s='Когда начинаются и заканчиваются спринты?'}</a></div>
      <div><a href="#requirements">{l s='Подробнее о требованиях к задачам'}</a></div>
      <div><a href="#risks">{l s='Подробнее о предвиденных рисках'}</a></div>
    </div>
  </div>
  <div class="right">
    <h1>{l s='Помощь по корпоративному сервису'}</h1>
    <h3 id="password">{l s='Как узнать свой пароль?'}</h3>
    <p>{l s='Вероятнее всего, первый временный пароль был выдан Вам в конверте с другой полезной информацией вашим HR менеджером'}.</p>
    <p>{l s='Если Вы по каким-то причинам испытываете сложности с паролем, пожалуйста обратитесь к Вашему HR менеджеру, либо в отдел системного администрирования'}.</p>
    <h3 id="list">{l s='Что делать если меня нет в списке пользователей?'}</h3>
    <p>
      {l s='В системе отсутствует свободная регистрация'}.
      {l s='За регистрацию новых сотрудников ответственны системные администраторы'}.
      {l s='В случае если Ваш аакаунт не появился в списке в течении нескольких часов после Вашего первого рабочего дня настоятельно рекомендуем обратиться в отдел системного администрирования, либо к любому HR менеджеру'}.
    </p>
    <h3 id="changes">{l s='Изменение списков задач и требований'}</h3>
    <p>
      {l s='Корпоративный сервис построен на прозрачной основе. Каждый участник системы в праве поставить новую задачу себе, либо другому члену команды в случае адекватности выставленной задачи, а также соблюдения сроков на ее выполнение'}.
    </p>
    <h3 id="completision">{l s='Об изменениях состояния задач'}</h3>
    <p>{l s='У каждой задачи существует несколько состояний в разный момент времени - <i>статус задачи</i>'}.</p>
    <p>
      {l s='У задачи различают следующие статусы:'}
      <ul>
        <li>{l s='<b>Ожидание выполнения</b> - задача была выставлена и закреплена на спринте, но исполнитель еще не приступил к ее выполнению;'}</li>
        <li>{l s='<b>В процессе выполнения</b> - задача была отмечена как выполняемая в данный момент. Означает, что исполнитель задания приступил к его выполнению;'}</li>
        <li>{l s='<b>В ожидании подтвержения</b> - задача была выполнена и отправлена на проверку назначителю;'}</li>
        <li>{l s='<b>Выполнение отменено</b> - означает что назначитель задачи не был удовлетворен результатами выполнения задачи и вернул задачу в предыдущий статус;'}</li>
        <li>{l s='<b>Задача успешно выполнена</b> - задача была успешно выполнена и закрыта назначителем.'}</li>
      </ul>
    </p>
    <p>{l s='Утвердить выполнение определенной задачи может лишь лицо, поставаившее эту задачу на текущий спринт. Исполнитель задачи может изменять все оставшиеся состояния задачи'}.</p>
    <h3 id="sprints-tim">{l s='Когда начинаются и заканчиваются спринты?'}</h3>
    <p>
      {l s='В компании принято начинать и заканчивать спринты посреди недели - в среду. Конец каждого спринта в среду, в 10 часов утра. Новые задачи назначаются в 12 часов дня'}.
    </p>
    <h3 id="requirements">{l s='Подробнее о требованиях к задачам'}</h3>
    <p>{l s='При назначении задачи обязательно указываются требования, так как требования являются неотъемлемой частью самого задания. Четкость сформулированного задания - залог его успешного выполнения'}.</p>
    <h3 id="risks">{l s='Подробнее о предвиденных рисках'}</h3>
    <p>{l s='Риски довольно редкое явление'}.</p>
  </div>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}
