{include file="CorpController/header.html"}
<section class="content">
  {include file="CorpController/include/left.html"}
  <div class="right task">
    <h1>{l s='Корпоративный сервис'} <sup>Beta</sup></h1>
    {include file="CorpController/include/menu.html"}
    <h3>
      <b>{l s='Задача'}: {$task.title}</b>
      <span class="priority">
        {if $task.priority == 1}<span class="hight">{l s='высокий приоритет'|lower}</span>{/if}
        {if $task.priority == 2}<span class="middle">{l s='Средний приоритет'|lower}</span>{/if}
        {if $task.priority == 3}<span class="low">{l s='Низкий приоритет'|lower}</span>{/if}
      </span>
    </h3>
    {if $user.id == $task.receiver}
    <div class="teammates-help">
      <p>
        {l s='Для того чтобы изменить статус задачи смотрите раздел "Управление задачей", ниже'}.
      </p>
    </div>
    {/if}
    <div class="teammates-inner">
      <div class="inner">
        <div class="info">
          <div class="info">
            <p>
              <b>{l s='Номер задачи:'}</b> <a>#{$task.number}</a>
            </p>
            <p class="status">
              <b>{l s='Статус:'}</b>
              {if $task.status == 1}<span class="warning">{l s='Ожидание выполнения'}</span>{/if}
              {if $task.status == 2 || $task.status == 4}<span class="success">{l s='В процессе выполнения'}</span>{/if}
              {if $task.status == 3}<span class="warning">{l s='Отправлено на проверку'}</span>{/if}
              {if $task.status == 6}<span class="success">{l s='Задание выполнено'}</span>{/if}
            </p>
            <p>
              <b>{l s='Назначено:'} <a>{l s=$task.sender_name} {l s=$task.sender_surname}</a></b>
            </p>
            <p>
              <b>{l s='Дата назначения:'} {$task.timestamp|date_format:"%d"} {l s=$task.timestamp|date_format:"%b"}</b>
            </p>
          </div>
        </div>
      </div>
    </div>
    <p><b>{l s='Описание'}:</b> {$task.description|nl2br}</p>
    {if $requirements|count > 0}
    <p><b>{l s='Список требований'}:</b></p>
    <p>
      <ul class="events-list">
        {foreach from=$requirements item=some}
          <li>
            <div class="block avatar">
              <img src="{$url}/assets/img/event-10.png" class="avatar event">
            </div>
            <div class="block name" style="min-width: 200px">{l s=$some.title}</div>
            <div class="block post">{l s=$some.description}</div>
            <div class="block points success">+{$some.points}</div>
            <div class="clearfix"></div>
          </li>
        {/foreach}
      </ul>
    </p>
    {/if}
    {if $risks|count > 0}
    <p><b>{l s='Список рисков'}:</b></p>
    <p>
      <ul class="events-list">
        {foreach from=$risks item=some}
          <li>
            <div class="block avatar">
              <img src="{$url}/assets/img/event-11.png" class="avatar event">
            </div>
            <div class="block name" style="min-width: 200px">{l s=$some.title}</div>
            <div class="block post">{l s=$some.description}</div>
            <div class="block points important">-{$some.points}</div>
            <div class="clearfix"></div>
          </li>
        {/foreach}
      </ul>
    </p>
    {/if}
    {if $user.id == $task.receiver || $user.id == $task.sender}
    <div class="line"></div>
    <div class="teammates-tasks-edit">
      <h3><b>{l s='Управление задачей'}</b></h3>
      <div class="teammates-help">
        <p>
          {l s='Вы можете производить различные манипуляции с задачей в зависимости от ее текущего положения'}.
          {l s='Удалить, либо отредактировать данную задачу может лишь лицо, поставившее задачу на текущий спринт'}.
        </p>
        <p>
          {l s='Задачи можно помечать как выполненные, либо требующие проверки только лишь если задача отмеченная как текущая кнопкой "Начать выполнение"'}.
        </p>
        <p>
          {l s='Устанавливать задачу как выполненную может лишь лицо, поставившее задачу на текущий спринт'}.
        </p>
      </div>
      <div>
        {if $user.id == $task.receiver}
        <div>
          {if $task.status == 1}<a class="button success task-change-status" status="2" data="{$task.id}">{l s='Начать выполнение'}</a>{/if}
          {if $user.id == $task.receiver && $user.id == $task.sender}
          {if $task.status == 2 || $task.status == 4}<a class="button success task-change-status" status="6" data="{$task.id}">{l s='Завершить выполнение'}</a>{/if}
          {if $task.status == 6}<a class="button important task-change-status" status="4" data="{$task.id}">{l s='Отменить выполнение'}</a>{/if}
          {else}
          {if $task.status == 2 || $task.status == 4}<a class="button success task-change-status" status="3" data="{$task.id}">{l s='Отправить на проверку'}</a>{/if}
          {/if}
          {if $task.status == 3}<a class="button important task-change-status" status="4" data="{$task.id}">{l s='Отменить проверку'}</a>{/if}
        {/if}
        {if $user.id == $task.sender}
          {if $task.status == 1}<a class="button" id="edit-task" data="{$task.id}">{l s='Редактировать'}</a>{/if}
          {if $task.status == 1}<a class="button important delete-task" data="{$task.id}">{l s='Удалить задачу'}</a>{/if}
          {if $task.status == 3}
          <a class="button success task-change-status" status="6" data="{$task.id}">{l s='Принять'}</a>
          <a class="button important task-change-status" status="4" data="{$task.id}">{l s='Отклонить'}</a
          {/if}
        {/if}
        </div>
      </div>
    </div>
    {/if}

    {if $user.id == $task.sender}
    <div class="teammates-tasks-edit-area">
      <h3><b>{l s='Редактирование задачи'}</b></h3>
      <div class="teammates-help">
        <p>
          {l s='Вы можете добавить не более 10 требований и рисков'}. {l s='В противном случае рекомендуется разбить задачу на подзадачи'}.
          {l s='Также рекомендутеся писать развернутое описание к поставленной задаче'}.
        </p>
      </div>
      <div class="block">
        <div class="block"><b>{l s='Первичная информация по задаче'}</b></div>
        <input type="hidden" id="task-number" value="{$task.number}" />
        <input type="hidden" id="task-receiver" value="{$task.receiver}" />
        <div class="block"><input type="text" id="task-name" placeholder="{l s='Краткое название задачи'}" value="{$task.title}" /></div>
        <div class="block"><textarea id="task-description" placeholder="{l s='Подробное описание задачи'}">{$task.description}</textarea></div>
        <div class="block"><b>{l s='Требования по задаче'}</b></div>
        <div class="teammates-help">
          <p>
            {l s='Задач без требований не бывает'}! {l s='Имеено требования к задачам должны оцениваться шкалой сложности'}! {l s='Вы должны добавить <b>как минимум</b> одно требование'}.
          </p>
          <a href="{$url}/corp/help/#requirements">{l s='Подробнее о требованиях к задачам'}</a>
        </div>
        <div id="requirements">
        {assign var="counter" value="0"}
        {foreach from=$requirements item=some}
        {assign var="counter" value=$counter + 1}
          <div class="line" id="requirements-{$counter}" data="{$counter}">
            <div class="title">
              <b>{l s='Новое требование'}</b>
              <span>
                <a class="remove-requirements icon icon-remove" data="{$counter}">{l s='Отменить'}</a>
              </span>
            </div>
            <div class="block"><input id="requirement-name-{$counter}" type="text" placeholder="{l s='Краткое название требования'}" value="{$some.title}" /></div>
            <div class="block"><textarea id="requirement-description-{$counter}" placeholder="{l s='Подробное описание требования'}" style="height: 150px">{$some.description}</textarea></div>
            <div class="teammates-help">
              <p>
                {l s='Вам предлагается оценить начальную сложность поставленного требования'}.
              </p>
              <a href="{$url}/corp/help/#">{l s='Подробнее о сложности требований'}</a>
            </div>
            <div class="block">
              <select id="requirement-points-{$counter}">
                <option value="0" disabled>{l s='Сложность поставленного требования'}</option>
                <option value="1" {if $some.points == 1}selected{/if}>1</option>
                <option value="2" {if $some.points == 2}selected{/if}>2</option>
                <option value="3" {if $some.points == 3}selected{/if}>3</option>
                <option value="4" {if $some.points == 4}selected{/if}>4</option>
                <option value="5" {if $some.points == 5}selected{/if}>5</option>
                <option value="6" {if $some.points == 6}selected{/if}>6</option>
                <option value="7" {if $some.points == 7}selected{/if}>7</option>
                <option value="8" {if $some.points == 8}selected{/if}>8</option>
                <option value="9" {if $some.points == 9}selected{/if}>9</option>
                <option value="10" {if $some.points == 10}selected{/if}>10</option>
              </select>
            </div>
            <div class="block">
              <select id="requirement-priority-{$counter}">
                <option value="0" disabled>{l s='Приоритет поставленного требования'}</option>
                <option value="1" {if $some.priority == 1}selected{/if}>{l s='Высокий приоритет'}</option>
                <option value="2" {if $some.priority == 2}selected{/if}>{l s='Средний приоритет'}</option>
                <option value="3" {if $some.priority == 3}selected{/if}>{l s='Низкий приоритет'}</option>
              </select>
            </div>
          </div>
        {/foreach}
        </div>
        <div class="block"><a id="add-requirements" class="icon icon-add">{l s='Добавить требование по задаче'}</a></div>
        <div class="block"><b>{l s='Предвиденные риски'}</b></div>
        <div class="teammates-help">
          <p>
            {l s='Предвиденные риски помогают избежать возможных проблем, но не всегда могут быть применими к конкретной задаче'}.
          </p>
          <a href="{$url}/corp/help/#risks">{l s='Узнать подробнее о рисках'}</a>
        </div>
        <div id="risks">
        {assign var="counter" value="0"}
        {foreach from=$risks item=some}
        {assign var="counter" value=$counter + 1}
        <div class="line" id="risks-{$counter}" data="{$counter}">
          <div class="title">
            <b>{l s='Новый риск'}</b>
            <span>
              <a class="remove-risks icon icon-remove" data="{$counter}">{l s='Отменить'}</a>
            </span>
          </div>
          <div class="block"><input id="risk-name-{$counter}" type="text" placeholder="{l s='Краткое название риска'}" value="{$some.title}" /></div>
          <div class="block"><textarea id="risk-description-{$counter}" placeholder="{l s='Подробное описание риска'}" style="height: 150px">{$some.description}</textarea></div>
          <div class="teammates-help">
            <p>
              {l s='Вам предлагается оценить начальную опасность предвиденного риска'}.
            </p>
            <a href="{$url}/corp/help/#">{l s='Подробнее об уровне опасности рисков'}</a>
          </div>
          <div class="block">
            <select id="risk-points-{$counter}">
              <option value="0" disabled>{l s='Опасность предвиденного риска'}</option>
              <option value="1" {if $some.points == 1}selected{/if}>1</option>
              <option value="2" {if $some.points == 2}selected{/if}>2</option>
              <option value="3" {if $some.points == 3}selected{/if}>3</option>
              <option value="4" {if $some.points == 4}selected{/if}>4</option>
              <option value="5" {if $some.points == 5}selected{/if}>5</option>
              <option value="6" {if $some.points == 6}selected{/if}>6</option>
              <option value="7" {if $some.points == 7}selected{/if}>7</option>
              <option value="8" {if $some.points == 8}selected{/if}>8</option>
              <option value="9" {if $some.points == 9}selected{/if}>9</option>
              <option value="10" {if $some.points == 10}selected{/if}>10</option>
            </select>
          </div>
        </div>
        {/foreach}
        </div>
        <div class="block"><a id="add-risks" class="icon icon-add">{l s='Добавить риск'}</a></div>
        <div class="block"><b>{l s='Опциональные настройки'}</b></div>
        <div class="block">
          <select id="task-type">
            <option value="0" disabled>{l s='Характер поставленной задачи'}</option>
            <option value="1" {if $task.type == 1}selected{/if}>{l s='Задача по графике'}</option>
            <option value="2" {if $task.type == 2}selected{/if}>{l s='Задача по программированию'}</option>
            <option value="3" {if $task.type == 3}selected{/if}>{l s='Организационная задача'}</option>
            <option value="4" {if $task.type == 4}selected{/if}>{l s='Задача финнансового характера'}</option>
            <option value="5" {if $task.type == 5}selected{/if}>{l s='Другое'}</option>
          </select>
        </div>
        <div class="block">
          <select id="task-priority">
            <option value="0" disabled>{l s='Приоритет выполнения задачи'}</option>
            <option value="1" {if $task.priority == 1}selected{/if}>{l s='Высокий приоритет'}</option>
            <option value="2" {if $task.priority == 2}selected{/if}>{l s='Средний приоритет'}</option>
            <option value="3" {if $task.priority == 3}selected{/if}>{l s='Низкий приоритет'}</option>
          </select>
        </div>
      </div>
      <br />
      <a class="button" id="save-task">{l s='Сохранить задачу'}</a>
    </div>

    <div id="requirements-template" class="template">
      <div class="line" id="requirements-{literal}${id}{/literal}" data="{literal}${id}{/literal}">
        <div class="title">
          <b>{l s='Новое требование'}</b>
          <span>
            <a class="remove-requirements icon icon-remove" data="{literal}${id}{/literal}">{l s='Отменить'}</a>
          </span>
        </div>
        <div class="block"><input id="requirement-name-{literal}${id}{/literal}" type="text" placeholder="{l s='Краткое название требования'}" /></div>
        <div class="block"><textarea id="requirement-description-{literal}${id}{/literal}" placeholder="{l s='Подробное описание требования'}" style="height: 150px"></textarea></div>
        <div class="teammates-help">
          <p>
            {l s='Вам предлагается оценить начальную сложность поставленного требования'}.
          </p>
          <a href="{$url}/corp/help/#">{l s='Подробнее о сложности требований'}</a>
        </div>
        <div class="block">
          <select id="requirement-points-{literal}${id}{/literal}">
            <option value="0" disabled selected>{l s='Сложность поставленного требования'}</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        <div class="block">
          <select id="requirement-priority-{literal}${id}{/literal}">
            <option value="0" disabled selected>{l s='Приоритет поставленного требования'}</option>
            <option value="1">{l s='Высокий приоритет'}</option>
            <option value="2">{l s='Средний приоритет'}</option>
            <option value="3">{l s='Низкий приоритет'}</option>
          </select>
        </div>
      </div>
    </div>
    <div id="risks-template" class="template">
      <div class="line" id="risks-{literal}${id}{/literal}" data="{literal}${id}{/literal}">
        <div class="title">
          <b>{l s='Новый риск'}</b>
          <span>
            <a class="remove-risks icon icon-remove" data="{literal}${id}{/literal}">{l s='Отменить'}</a>
          </span>
        </div>
        <div class="block"><input id="risk-name-{literal}${id}{/literal}" type="text" placeholder="{l s='Краткое название риска'}" /></div>
        <div class="block"><textarea id="risk-description-{literal}${id}{/literal}" placeholder="{l s='Подробное описание риска'}" style="height: 150px"></textarea></div>
        <div class="teammates-help">
          <p>
            {l s='Вам предлагается оценить начальную опасность предвиденного риска'}.
          </p>
          <a href="{$url}/corp/help/#">{l s='Подробнее об уровне опасности рисков'}</a>
        </div>
        <div class="block">
          <select id="risk-points-{literal}${id}{/literal}">
            <option value="0" disabled selected>{l s='Опасность предвиденного риска'}</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>
    </div>

    <script type="text/javascript">
    function checkCounts() {
      counts.requirements = {$requirements|count};
      counts.requirements_ids = {$requirements|count};
      counts.risks = {$risks|count};
      counts.risks_ids = {$risks|count};
    };
    </script>
    {/if}

  </div>
  <div class="clearfix"></div>
</section>
{include file="CorpController/footer.html"}