{include file="PlayController/include/header.html"}
<section class="content">
  <div class="header">
  {include file="PlayController/include/links.html"}
  </div>
  <div class="content">
    {if $available}
    <div class="popup popup-vk block" id="vk">
      <p>
        {l s='Для того чтобы эффективно провести тестирование нам необходима некая персональная информация вроде вашей фамилии и имени'}.
        {l s='Пожалуйста авторизируйтесь через социальную сеть'}
        <a href="//vk.com" target="_blank">VK</a>.
        {l s='Это не займет много времени'}.
      </p>
      <a class="button" id="vk-login">{l s='Авторизироваться'}</a>
    </div>
    <div class="canvas">
      <canvas id="canvas" width="980" height="551"></canvas>
    </div>
    <script src="cocos2dx-tooflya-sdk-html5/framework.js"></script>
    <script src="app.playtest.js"></script>
    {else if $play}
    <div class="popup popup-time" id="time">
      <p>{l s='Time until the event'}:</p>
      <div class="counter">
        <script>
        clock = $('.counter').FlipClock({$play.time} - {$play.now}, {
          clockFace: 'DailyCounter',
          countdown: true,
          callbacks: {
            stop: function() {
              location.reload(true);
            }
          }
        });
        </script>
      </div>
    </div>

    <div class="popup popup-time-description block" id="time-description">
      <div class="title">
        <h3>{l s='Who should read this page?'}</h3>
      </div>
      <p>
        {l s='We always invite players to participate in the testing of new games and innovations'}.
        {l s='This is very important from the standpoint of brevity product'}.
        {l s='You have the power to help us and make our game more enjoyable and interesting'}.
        {l s='Testing - a way to not only have fun in a game that no one has ever played, but also help the developers this is not easy work'}.
      </p>
      <div class="title">
        <h3>{l s='When is testing begins?'}</h3>
      </div>
      <p>
        {l s='Usually testing starts when the development is coming to the finish line'}.
        {l s='We invite all concerned in the pages of our social networks'}.
      </p>
      <div class="title">
        <h3>{l s='How is the testing works?'}</h3>
      </div>
      <p>
        {l s='At the appointed time, the test design appears on this page'}.
        {l s='It is a sign that you are ready for testing'}.
        {l s='In addition to the game on the screen you will see a specially designed socket which includes chat and means for fixing errors'}.
      </p>
      <div class="title">
        <h3>{l s='What is required of me to be a tester?'}</h3>
      </div>
      <p>
        {l s='A little of your time, desire, and authorization through a social network'} <a href="http://vk.com" target="_blank">VK</a>.
      </p>
    </div>

    <div class="popup popup-time-description block" id="time-description">
      <div class="title">
        <h3>{l s='In testing involved'}</h3>
      </div>
      <ul>
      {foreach from=$users item=some}
        <li><a href="http://vk.com/id{$some.uid}" target="_blank"><img src="{$some.photo}" alt="{$some.name} {$some.surname}" /></a></li>
      {foreachelse}
        <li class="b">{l s='Нет участников...'}</li>
      {/foreach}
      </ul>
    </div>
    {else}
    <div class="popup popup-time-description block" id="time-description">
      <h1 class="thanks">{l s='Спасибо'},</h1>
      <div class="title">
        <h3>{l s='Большое спасибо'}</h3>
      </div>
      <p>
        {l s='Большое спасибо вам, дорогие игроки'}.
        {l s='Спасибо за отзывы, найденные ошибки и приятную игру'}!
      </p>
      <div class="title">
        <h3>{l s='Анализ'}</h3>
      </div>
      <p>
        {l s='В скором времени мы проанализируем все ваши замечания и пожелания чтобы сделать игру лучше и постараемся проинформировать вас о проделанной работе'}.
        {l s='Также, в скором времени мы опубликуем общую статистику по прошедшему тестированию'}.
      </p>
      <h2 class="thanks">Оставайтесь с нами!</h2>
    </div>

    <div class="popup popup-time-description block" id="time-description">
      <div class="title">
        <h3>{l s='В тестировании участвовали'}</h3>
      </div>
      <ul>
      {foreach from=$users item=some}
        <li title="{$some.name} {$some.surname}"><a href="//vk.com/id{$some.uid}" target="_blank"><img src="{$some.photo}" alt="{$some.name} {$some.surname}" /></a></li>
      {foreachelse}
        <li class="b">{l s='Нет участников...'}</li>
      {/foreach}
      </ul>
    </div>
    {/if}
    <div class="clearfix"></div>
  </div>
</section>
{include file="PlayController/include/footer.html"}
