{include file="BaseViews/header.html"}
<section class="content">
    <style>
      @font-face {
        font-family: '{$game.font}';
        src: url('Resources/Fonts/{$game.font}.ttf');
        font-weight: 400;
        }
        canvas {
          font-family: '{$game.font}';
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          -khtml-user-select: none;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
    </style>
  <h1>{$game.title} <sup>Beta</sup></h1>
  <div class="canvas">
    <canvas id="canvas" width="{$game.width}" height="{$game.height}"></canvas>
  </div>
  <div class="line"></div>
  <h3><b>{l s='Как играть?'}</b></h3>
  <script src="application.js"></script>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}
