    <footer id="footer">
      <div class="content">
        <div class="social" style="margin-bottom:10px;">
          {if $language == 'ru'}
          <div id="vk-like"></div>
          {else}
          <div class="fb-like" data-href="http://play.tooflya.com" data-width="85" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
          {/if}
          <div id="twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://play.tooflya.com" data-via="tooflya" data-related="tooflya" data-hashtags="Tooflya"></a></div>
        </div>
        {include file="PlayController/include/links.html"}
        <div class="footer">
          <div class="content">
            <div class="copyright">
              <div>&copy; Tooflya Inc. 2012 - 2014 | {l s='Applications Development'}</div>
            </div>
            <div class="language">
              <form id="languages" action="" method="post">
                <select name="language" id="languages-select">
                  {if $language == 'ru'}
                  <option value="ru">Русский</option>
                  <option value="en">English</option>
                  {else}
                  <option value="en">English</option>
                  <option value="ru">Русский</option>
                  {/if}
                </select>
              </form>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  </body>
</html>
