.header{color:#72D3EB;}
nav{background-color:#72D3EB;}
nav .brand-logo{letter-spacing:-2px;}nav .brand-logo sup{font-size:0.7em;top:-0.8em;}
ul.table-of-contents a.active{border-left: 2px solid #72D3EB;}
ul.tabs li.tab a{color:#72D3EB;}ul.tabs li.tab a:hover{color:#A8EAFA;}
ul.tabs .indicator{background-color:#72D3EB;}
.promo i{color:#72D3EB;}
.get-started-button{background-color:#72D3EB;width:200px;height:70px;line-height:70px;font-size:18px;font-weight:400;}.get-started-button:hover{background-color:#A8EAFA;}
footer a, p.text a{color:#72D3EB;}footer a:hover, p.text a:hover{color:#A8EAFA;}
div.card.type div.card-image{height:100px;}
div.card.type div.card-image span.card-title{font-weight:500;}
div.card.type.type1 div.card-image{background-color:#72D3EB;}
div.card.type.type2 div.card-image{background-color:#aa00ff;}
div.card.type.type3 div.card-image{background-color:#26a69a;}
div.card.type.type4 div.card-image{background-color:#03a9f4;}
div.card.type.type5 div.card-image{background-color:#ffa000;}
div.card.type.type6 div.card-image{background-color:#e65100;}
div.card.type.type7 div.card-image{background-color:#006064;}
div.card.type.type8 div.card-image{background-color:#e3f2fd;}
div.card.type.type9 div.card-image{background-color:#f50057;}
div.card.type.type10 div.card-image{background-color:#004d40;}
div.card.type.type11 div.card-image{background-color:#e0e0e0;}
div.card.type.type div.card-action a{color:#72D3EB;text-transform: none;}div.card.type.type1 div.card-action a:hover{color:#A8EAFA;}
#api-documentation h2{font-size:1.7rem;font-weight:500;color:#333;margin:5px 0;}