b {
  font-weight: 500;
}
img.preloader {
  margin: 0 auto;
  margin-top: 50px;
  display: block;
}
header div.title {
  float: left;
}
header div.status {
  float: right;
}
header div.status h2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  letter-spacing: -2px;
}
header div.status h2.success {
  color: #99ccb2;
}
header div.status h2.warning {
  color: #FFC883;
}
header div.status h2.critical {
  color: #d01040;
}
header a:hover {
  text-decoration: none;
}
canvas {
  margin-top: 10px;
}
h1.status {
  margin: 0;
  padding: 0;
  font-weight: 500;
  letter-spacing: -2px;
  color: #000;
}
h1.status:active {
  padding-top: 1px;
}
h1.status span {
  font-weight: 400;
  color: #99ccb2;
}
h1.status span sup {
  font-size: 13px;
  letter-spacing: 1px;
}
div.intro {
  padding-bottom: 40px;
}
div.content {
}
div.content div.block {
  padding-bottom: 40px;
}
div.content div.block div.title {
  border-bottom: 1px solid #ccc;
}
div.content div.block div.title h3 {
  margin-bottom: 5px;
  color: #99ccb2;
  font-weight: 500;
}
div.content div.block div.description {
}
div.content div.block div.description div.class {
  padding-left: 20px;
  padding-bottom: 20px;
}
div.content div.block div.description div.class ul {
  list-style: none;
}
div.content div.block div.description div.class ul li {
  display: inline-block;
  padding-right: 20px;
  vertical-align: top;
}
div.content div.block div.description div.class div.title {
  color: #99ccb2;
  border: none;
  padding-bottom: 10px;
  text-decoration: underline;
}
span.uptime {
  font-size: 20px;
}
span.uptime.success {
  color: #99ccb2;
}
span.uptime.warning {
  color: #FFC883;
}
span.uptime.critical {
  color: #d01040;
}
div.header {
  margin-bottom: 10px;
}
div.header ul.links {
  list-style-type: none;
  list-style-image: none;
  text-align: left;
}
div.header div.links {
  display: block;
  margin: 0 auto;
}
div.header ul.links li {
  display: inline-block;
  padding: 0 5px;
}
ul.links li:first-child {
  padding-left: 0 !important;
}
ul.links li.tip ul {
  display: none;
  position: absolute;
  background-color: #FFF;
  border: 1px #ccc solid;
  padding: 4px;
}
ul.links li.tip ul li {
  display: block;
  padding-left: 0 !important;
}
ul.links li.tip:hover > ul {
  display: block;
}
footer ul.links li.tip ul {
  top: -100px;
  min-height: 100px;
}
ul.links li.update a {
  color: #99ccb2;
}
.error .update {
  color: #99ccb2;
}
.error p {
  color: #d01040;
  font-weight: 500;
  padding: 0px;
  margin: 0;
}
div.game {
  margin-bottom: 20px;
}
div.game div.icon {
  float: left;
  padding-right: 10px;
}
div.game div.name {
  color: #99ccb2;
  font-weight: 500;
}
div.game div.name sup {
  color: #B6B6B6;
}
div.game div.description {
  color: #AFAFAF;
  font-size: 13px;
}
