* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(../fonts/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(../fonts/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../fonts/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
body {
  color: #444;
  font: 14px/19px Roboto, sans-serif;
  font-family: 'Roboto',arial,sans-serif;
  font-weight: 400;
  letter-spacing: .1;
  line-height: 1.8;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 980px;
  background-color: #ebf0f0;
}
html, body {
  min-height: 100%;
  width: 100%;
  height: 100%;
}
body.blank {
  background-color: #fff;
}
section.e404 {
  width: 800px;
  margin: 0 auto;
  margin-top: 250px;
}
section.e404 div.title {
  float: left;
  border-right: 3px #197EAD solid;
  padding-right: 20px;
}
section.e404 div.text {
  float: left;
  padding-left: 20px;
  max-width: 360px;
}
section.e404 div.text h1 {
  color: #197EAD;
  padding-top: 0;
  margin-top: 0;
}
section.reflection {
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  background: #FFF url(../img/stripes.png);
}
ul {
  list-style-image: url(../img/marker.png);
}
h1 {
  color: #197EAD;
  font-weight: 400;
  margin: 20px 0 20px;
}
h2 {
  color: #197EAD;
  font-size: 22px;
  margin: 20px 0 20px;
  padding: 0 0 10px;
  font-weight: 400;
}
h3 {
  color: #197EAD;
  font-weight: 400;
  margin: 20px 0 20px;
}
p {
  margin-bottom: 10px;
}
ul, ol {
  list-style-position: inside;
}
a {
  color: #33B5E5;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
   -webkit-transition: color 0.25s linear;
      -moz-transition: color 0.25s linear;
       -ms-transition: color 0.25s linear;
        -o-transition: color 0.25s linear;
           transition: color 0.25s linear;
}
a:hover {
  color: #7aa1b0;
  text-decoration: underline;
}
.nomargin {
  margin: 0 !important;
}
.button, a.button {
  background-color: #09c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2faddb), to(#09c));
  background-image: -webkit-linear-gradient(top, #2faddb, #09c);
  background-image: -moz-linear-gradient(top, #2faddb, #09c);
  background-image: -ms-linear-gradient(top, #2faddb, #09c);
  background-image: -o-linear-gradient(top, #2faddb, #09c);
  background-image: linear-gradient(top, #2faddb, #09c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2faddb', EndColorStr='#0099cc',GradientType=0);
  border: 1px solid #3990ab;
  color: #fff;
  border-image: initial;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;    height: 28px;
  line-height: 28px;
  font-weight: 400;
  min-width: 54px;
  outline: 0;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
}
.button:hover, a.button:hover {
  border-color: #09c;
  background-color: #4cadcb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5dbcd9), to(#4cadcb));
  background-image: -webkit-linear-gradient(top, #5dbcd9, #4cadcb);
  background-image: -moz-linear-gradient(top, #5dbcd9, #4cadcb);
  background-image: -ms-linear-gradient(top, #5dbcd9, #4cadcb);
  background-image: -o-linear-gradient(top, #5dbcd9, #4cadcb);
  background-image: linear-gradient(top, #5dbcd9, #4cadcb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5dbcd9', EndColorStr='#4cadcb',GradientType=0);
  color: #fff !important;
}
.button:active, a.button:active {
  background-color: #1e799a;
  background-image: none;
  border-color: #30b7e6;
}
p.button-link {
  margin-left: 70px;
}
p.button-link a {
  font-size: 14px;
}
.button.important {
  background-color: #e80000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f37777), to(#e80000));
  background-image: -webkit-linear-gradient(top, #f37777, #e80000);
  background-image: -moz-linear-gradient(top, #f37777, #e80000);
  background-image: -ms-linear-gradient(top, #f37777, #e80000);
  background-image: -o-linear-gradient(top, #f37777, #e80000);
  background-image: linear-gradient(top, #f37777, #e80000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f37777', EndColorStr='#e80000',GradientType=0);
  border: 1px #ff4800 solid;
}
.button.important:hover {
  background-color: #ec4f4f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5555), to(#ec4f4f));
  background-image: -webkit-linear-gradient(top, #ff5555, #ec4f4f);
  background-image: -moz-linear-gradient(top, #ff5555, #ec4f4f);
  background-image: -ms-linear-gradient(top, #ff5555, #ec4f4f);
  background-image: -o-linear-gradient(top, #ff5555, #ec4f4f);
  background-image: linear-gradient(top, #ff5555, #ec4f4f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff5555', EndColorStr='#ec4f4f',GradientType=0);
  border: 1px #ff4800 solid;
}
.button.important:active {
  background-color: #a70c0c;
  background-image: none;
  border-color: #ff2323;
}
.button.success {
  background-color: #349662;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00c45c), to(#349662));
  background-image: -webkit-linear-gradient(top, #00c45c, #349662);
  background-image: -moz-linear-gradient(top, #00c45c, #349662);
  background-image: -ms-linear-gradient(top, #00c45c, #349662);
  background-image: -o-linear-gradient(top, #00c45c, #349662);
  background-image: linear-gradient(top, #00c45c, #349662);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00c45c', EndColorStr='#349662',GradientType=0);
  border: 1px #349662 solid;
}
.button.success:hover {
  background-color: #41b578;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#41b578), to(#41b578));
  background-image: -webkit-linear-gradient(top, #41b578, #41b578);
  background-image: -moz-linear-gradient(top, #41b578, #41b578);
  background-image: -ms-linear-gradient(top, #41b578, #41b578);
  background-image: -o-linear-gradient(top, #41b578, #41b578);
  background-image: linear-gradient(top, #41b578, #41b578);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#41b578', EndColorStr='#41b578',GradientType=0);
  border: 1px #349662 solid;
}
.button.success:active {
  background-color: #147e46;
  background-image: none;
  border-color: #147e46;
}
.button.warning {
  background-color: #f1c415;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1e415), to(#f1c415));
  background-image: -webkit-linear-gradient(top, #f1e415, #f1c415);
  background-image: -moz-linear-gradient(top, #f1e415, #f1c415);
  background-image: -ms-linear-gradient(top, #f1e415, #f1c415);
  background-image: -o-linear-gradient(top, #f1e415, #f1c415);
  background-image: linear-gradient(top, #f1e415, #f1c415);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1e415', EndColorStr='#f1c415',GradientType=0);
  border: 1px #f1bf00 solid;
}
.button.warning:hover {
  background-color: #f1dc25;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1dc25), to(#f1dc25));
  background-image: -webkit-linear-gradient(top, #f1dc25, #f1dc25);
  background-image: -moz-linear-gradient(top, #f1dc25, #f1dc25);
  background-image: -ms-linear-gradient(top, #f1dc25, #f1dc25);
  background-image: -o-linear-gradient(top, #f1dc25, #f1dc25);
  background-image: linear-gradient(top, #f1dc25, #f1dc25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1dc25', EndColorStr='#f1dc25',GradientType=0);
  border: 1px #f1bf00 solid;
}
.button.warning:active {
  background-color: #f1c93e;
  background-image: none;
  border-color: #f1bf00;
}
.presentation {
  width: 400px;
  margin-left: 20px;
}
.presentation h2 {
  margin-top: 0;
}
header {
}
header div.logo {
  width: 160px;
  height: 56px;
  padding-top: 5px;
  position: absolute;
}
header div.logo div.logo-text {
  position: absolute;
  background: transparent url(../img/logo_text.png) no-repeat;
  width: 122px;
  height: 38px;
  margin-left: 30px;
  margin-top: 18px;
}
header div.logo div.logo-hero {
  position: absolute;
  background: transparent url(../img/logo_animation.png) no-repeat;
  width: 39px;
  height: 51px;
}
header div.logo div.logo-hero.animation-1 { background-position: 0 0; }
header div.logo div.logo-hero.animation-2 { background-position: -39px 0; }
header div.logo div.logo-hero.animation-3 { background-position: -78px 0; }
header div.logo div.logo-hero.animation-4 { background-position: -117px 0; }
header div.logo div.logo-hero.animation-5 { background-position: -156px 0; }


header div.logo div.logo-hero.animation-6 { background-position: 0 -51px; }
header div.logo div.logo-hero.animation-7 { background-position: -39px -51px; }
header div.logo div.logo-hero.animation-8 { background-position: -78px -51px; }
header div.logo div.logo-hero.animation-9 { background-position: -117px -51px; }
header div.logo div.logo-hero.animation-10 { background-position: -156px -51px; }
header div.logo div.logo-hero.animation-11 { background-position: 0 -102px; }
header div.logo div.logo-hero.animation-12 { background-position: -39px -102px; }
header div.logo div.logo-hero.animation-13 { background-position: -78px -102px; }
header div.logo div.logo-hero.animation-14 { background-position: -117px -102px; }
header div.logo div.logo-hero.animation-15 { background-position: -156px -102px; }
header div.logo div.logo-hero.animation-16 { background-position: 0 -153px; }
header div.logo div.logo-hero.animation-17 { background-position: -39px -153px; }
header div.logo div.logo-hero.animation-18 { background-position: -78px -153px; }
header div.logo div.logo-hero.animation-19 { background-position: -117px -153px; }
header div.logo div.logo-hero.animation-20 { background-position: -156px -153px; }

header div.logo div.logo-hero.animation-21 { background-position: 0 -204px; }
header div.logo div.logo-hero.animation-22 { background-position: -39px -204px; }
header div.logo div.logo-hero.animation-23 { background-position: -78px -204px; }
header div.logo div.logo-hero.animation-24 { background-position: -117px -204px; }
header div.logo div.logo-hero.animation-25 { background-position: -156px -204px; }
header div.logo div.logo-hero.animation-26 { background-position: 0 -255px; }
header div.logo div.logo-hero.animation-27 { background-position: -39px -255px; }
header div.logo div.logo-hero.animation-28 { background-position: -78px -255px; }
header div.logo div.logo-hero.animation-29 { background-position: -117px -255px; }
header div.logo div.logo-hero.animation-30 { background-position: -156px -255px; }

header div.logo a {
  display: block;
  width: 160px;
  height: 56px;
  position: absolute;
  margin-top: -2px;
}
header div.logo:active {
  margin-top: -4px;
}
header {
  border-top: 1px solid #00AEEF;
  background: #fff;
  border-bottom: 1px #ccc solid;
}
header div.content {
  position: relative;
}
header div.content ul.menu {
  float: right;
  margin-right: 60px;
}
header div.content ul.menu li {
  display: inline-block;
  padding: 20px 10px;
}
header div.content ul.menu li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
   -webkit-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
       -ms-transition: all 0.25s linear;
        -o-transition: all 0.25s linear;
           transition: all 0.25s linear;
}
header div.content ul.menu li a:hover, header div.content ul.menu li a.active  {
  color: #33B5E5;
}
section.content {
  position: relative;
  min-height: 100%;
  height: 100%;
  padding-bottom: 140px !important;
}
footer {
  background: #ffffff;
  border-top: 1px #ccc solid;
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer div.content {
  position: relative;
  padding: 10px 0;
  margin-top: 10px;
}
footer h3 {
  color: #197EAD;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
}
footer h4 {
  color: #197EAD;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 500;
}
footer ul.main li {
  display: inline-block;
  vertical-align: top;
}
footer ul.main li.column-1 {
  width: 300px;
}
footer ul.main li.column-2 {
  width: 200px;
}
footer ul.main li.column-3 {
  width: 220px;
}
footer ul.main li.column-3 li {
  margin-bottom: 10px;
  width: 210px;
  padding-right: 30px;
}
footer ul.main li.column-4 {
  background: transparent url(../img/twitter.png) 170px 5px no-repeat;
  width: 210px;
}
footer ul.main li.column-4 li {
  margin-bottom: 10px;
}
footer ul.main li.column-2 ul {
  width: 100px;
  float: left;
}
footer ul.main li.column-2 ul li {
  width: 100px;
}
footer input {
  margin: 10px 0;
  width: 190px;
  padding-left: 5px;
}
footer div.subscribers {
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 80px;
  padding-bottom: 30px;
  background: transparent url(../img/android-icon.png) no-repeat;
}
footer div.subscribers span {
  font-size: 24px;
}
footer div.subscribers div {
  padding-left: 10px;
  font-size: 16px;
}
section.products-presentation ul.control-links li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 2px;
  border-radius: 6px;
  background-color: #CCC;
  cursor: pointer;
}
section.products-presentation ul.control-links li.active {
  background-color: #33B5E5;
}
section.products-presentation ul.control-links {
  width: 100px;
  margin: 0 auto;
  padding: 10px 0;
  list-style-image: none;
  list-style: none;
}
ul#slider {
  list-style-image: none;
  list-style: none;
}
section.products-presentation div.slider {
  width: 2577 !important;
  height: 444px;
  position: relative;
  margin-left: -1000px;
}
section.products-presentation div.slider li {
  margin-left: 100px;
  margin-top: 20px;
}
section.products-presentation div.slider img {
  border: 1px #ccc solid;
  padding: 3px;
  background-color: #fff;
  -moz-box-shadow: 1px 1px 10px #aaa;
  -webkit-box-shadow: 1px 1px 10px #AAA;
  background: white;
}
a.arrow {
  cursor: pointer;
  position: absolute;
  top: 280px;
  width: 20px;
  height: 36px;
  z-index: 5000;
}
section.products-presentation a.arrow-left {
  margin-right: 440px;
  background: transparent url(../img/arrow-left.png) no-repeat;
}
section.products-presentation a.arrow-right {
  margin-left: 950px;
  background: transparent url(../img/arrow-right.png) no-repeat;
}
section.products-presentation a.arrow-left:hover {
  background-position: 0 -36px;
}
section.products-presentation a.arrow-right:hover {
  background-position: 0 -36px;
}
section.products-presentation a.arrow-left:active {
  background-position: 0 -72px;
}
section.products-presentation a.arrow-right:active {
  background-position: 0 -72px;
}
section.products-presentation div.ads {
  width: 858px;
  height: 424px;
  margin: 0 auto;
  margin-top: 30px;
}
section.products-presentation div.slider div.ads li {
  position: absolute;
}
section.products-presentation div.slider div.ads li.banner {
  /**transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  -moz-transform: scale(0.9);
  opacity: 0.35;*/
}
div#body {
  min-height: 100%;
  position: relative;
}
div.content, section.content {
  width: 980px;
  margin: 0 auto;
}
section.content {
  padding-bottom: 40px;
  margin-top: 40px;
  height: 100%;
  min-height: 100%;
}
section.content h1, section.content h2, section.content h3 {
  padding-top: 0;
  margin-top: 0;
}
section.content h1 a, section.content h2 a, section.content h3 a {
  color: #197EAD;
  font-size: 22px;
}
section.content div.left {
  width: 229px;
  padding-right: 20px;
  float: left;
  margin-top: 82px;
}
section.content div.left.promo {
  width: 300px;
}
section.content div.right {
  width: 709px;
  height: 100%;
  min-height: 100%;
  padding-left: 20px;
  float: right;
  background: transparent url(../img/lr.png) top left repeat-y;
}
section.content div.right.promo {
  width: 609px;
  margin-top: -180px;
}
section.content div.right.promo h1 {
  position: relative;
  z-index: 500;
  font-weight: bold;
  font-size: 28px;
  background-color: #FFF;

  border: 1px #ccc solid;
  border-right: none;
  padding: 3px;
  background-color: #fff;
  //-moz-box-shadow: 1px 1px 10px #aaa;
  //-webkit-box-shadow: 1px 1px 10px #AAA;
  background: white;
  width: 599px;

  padding-left: 10px;
}
section.content div.right.promo img {
  max-width: 100%;
}
section.content div.right.promo p {
  position: relative;
  z-index: 500;
}
div.information {
  position: relative;
  padding: 10px 0;
  margin-top: 10px;
}
.clearfix {
  clear: both;
}
div.footer {
  font-size: 13px;
  border-top: 1px #ccc solid;
}
div.footer div.content {
  margin-top: 0;
}
div.copyright {
  float: left;
  width: 400px;
}
div.footer div.language {
  float: right;
}
div.footer div.language select {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  height: 23px;
  width: 200px;
}
span.special {
  color: #333;
  font-size: 22px;
}
img.left {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
ul.sites-list li {
  display: inline-block;
  margin: 0 2px;
  max-width: 70px;
  text-align: center;
  line-height: 15px;
  vertical-align: top;
}
ul.sites-list li img {
  width: 50px;
  padding: 3px;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}
div.sites-list {
  margin-bottom: 20px;
}
div.sites-list div {
  display: inline-block;
  margin: 0 2px;
  text-align: left;
  vertical-align: top;
  max-width: 635px;
  position: relative;
}
div.sites-list div img {
  width: 65px;
  padding: 3px;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}
div.sites-list div a {
  font-size: 20px;
}
div.sites-list div p {
  font-size: 12px;
  margin: 0;
  line-height: 16px;
  min-width: 620px;
}
img.image {
  padding: 3px;
  border:1px #CCC solid;
  -moz-box-shadow: 1px 1px 10px #aaa;
  -webkit-box-shadow: 1px 1px 10px #AAA;
  background: white;
}
footer form input {
  width: 240px !important;
  height: 20px !important;
}
ul.base-team-list {
  list-style: none;
}
ul.base-team-list li {
  clear: both;
  padding-bottom: 40px;
}
ul.base-team-list li img {
  margin-bottom: 20px;
}
ul.team-list {
  padding-bottom: 30px;
  list-style-type: none;
  list-style-image: none;
}
ul.team-list li {
  clear: both;
  padding-bottom: 15px;
}
ul.team-list img {
  width: 130px;
  padding: 3px;
  border: 1px #ccc solid;
  -moz-box-shadow: 1px 1px 10px #aaa;
  -webkit-box-shadow: 1px 1px 10px #AAA;
  background: white;
}
ul.team-list div.title {
  font-weight: bold;
}
ul.team-list div.title, ul.team-list div.text, ul.team-list div.info {
  margin-left: 10px;
  float: left;
  width: 500px;
}
ul.team-list div.info {
  color: #BBB;
  font-size: 11px;
}
ul.team-list div.text p {
  margin-top: 26px !important;
}
ul.team-list div.text {
  margin-top: 10px;
}
div.classes div {
  text-align: left;
  margin-right: 40px;
}
div.classes div a {
  font-size: 16px;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
div.classes div a:hover {
  text-decoration: none;
}
div.blog div.info {
  margin-top: -35px;
  color: #BBB;
  font-size: 11px;
  margin-bottom: 30px;
}
div.blog div.info a {
  color: #BBB;
  font-size: 11px;
  text-decoration: underline;
}
img.blog-img {
  margin-right: 10px;
}
div.blog p.centered {
  margin: 0 auto;
  text-align: center;
}
img.blog-img-center {
  display: inline-block;
  margin: 10px auto;
  padding: 3px;
  border: 1px #CCC solid;
}
ul.tweets div.image {
  float: left;
  padding: 3px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 5px;
  height: 40px;
}
ul.tweets div.image img {
  width: 40px;
  border-radius: 5px;
}
ul.tweets li {
  width: 100%;
}
ul.tweets div.description {
  color: #BBB;
  font-size: 13px;
}
.elements-devider {
  background: transparent url(../img/devider.png) center no-repeat;
  height: 6px;
}
div.social-buttons {
  float: right;
  width: 260px;
  height: 42px;
  margin-top: -16px;
}
div.social-buttons ul {
  
}
div.social-buttons ul li {
  display: inline-block;
  width: 44px;
  height: 42px;
}
div.social-buttons ul li a {
  display: block;
  width: 44px;
  height: 42px;
}
div.social-buttons ul li:hover {
  background-position: 0 -42px;
}
div.social-buttons ul li.facebook {
  background-image: url(../img/facebook.png);
}
div.social-buttons ul li.twitter {
  background-image: url(../img/twitter-social.png);
}
div.social-buttons ul li.google {
  background-image: url(../img/google.png);
}
div.social-buttons ul li.youtube {
  background-image: url(../img/youtube.png);
}
div.social-buttons ul li.vk {
  background-image: url(../img/vk.png);
}
div.code {
  background-color: #fff;
  padding: 8px;
  border: 1px #ccc solid;
}

textarea {
margin-left:0px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

display: inline-block;
padding: 4px;
font-size: 13px;
line-height: 18px;
color: gray;
border: 1px solid #CCC;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
textarea.error {
outline: 0;
  border-color: rgba(185, 74, 72, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
}
input[type=submit] {width:0;height:0;border:none;background-color:#fff;position:absolute;}
input[type=text], .dataInputs input[type=password] {
width: 327px;

  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

display: inline-block;
height: 22px;
padding: 4px;
font-size: 13px;
line-height: 18px;
color: gray;
border: 1px solid #CCC;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
input[type=text].error, input[type=password].error, select.error
{
    color: #B94A48;
    border-color: #EE5F5B;
  outline: 0;
  border-color: rgba(185, 74, 72, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
}
input[type=text].error:focus, input[type=password].error:focus {
  outline: 0;
  border-color: rgba(185, 74, 72, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
}
label {
font-style:normal;
font-size: 14px;
line-height: 18px;
color:#333;
padding-right: 15px;
}
select{
         display: inline-block;
height: 30px;
padding: 4px;
font-size: 13px;
line-height: 18px;
color: gray;
border: 1px solid #CCC;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
width:250px;
}
select:focus{
    outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type=text], input[type=password] {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input[type=text]:focus, input[type=password]:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type=text].search {
  padding-left:25px;
  background:transparent url(../images/b/search.png) 7px 9px no-repeat;
}
div.center-slider {
  position: relative;
  width: 980px !important;
  overflow: auto;
}
div.pre-center-slider a.arrow {
  top: 130px;
}
div.pre-center-slider a.arrow-left {
  left: -100px;
  background: transparent url(../img/arrow-left.png) no-repeat;
}
div.pre-center-slider a.arrow-right {
  right: -100px;
  background: transparent url(../img/arrow-right.png) no-repeat;
}
div.pre-center-slider a.arrow-left:hover {
  background-position: 0 -36px;
}
div.pre-center-slider a.arrow-right:hover {
  background-position: 0 -36px;
}
div.pre-center-slider a.arrow-left:active {
  background-position: 0 -72px;
}
div.pre-center-slider a.arrow-right:active {
  background-position: 0 -72px;
}
div.center-slider ul {
  list-style-image: none;
  list-style-type: none;
}
div.center-slider li {
  width: 980px !important;
}
div.pre-center-slider {
  position: relative;
}
span.icon {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 9px;
  margin-left: 6px;
  cursor: pointer;
}
span.icon.disable {
  opacity: 0.1;
}
span.icon.enable {
  opacity: 0.5;
}
span.icon a {
  display: block;
}
.icon56 {
  background: transparent url(../img/icons/16/picons16.png) no-repeat;
}
.icon76 {
  margin-left: 28px !important;
  background: transparent url(../img/icons/16/picons36.png) no-repeat;
}
.icon32 {
  margin-left: 52px !important;
  background: transparent url(../img/icons/16/picons32.png) no-repeat;
}
.icon27 {
  margin-left: 76px !important;
  background: transparent url(../img/icons/16/picons27.png) no-repeat;
}
.icon00 {
  width: 40px !important;
  height: 40px !important;
  margin-left: 76px !important;
  margin-top: 7px !important;
  right: 0;
  background: transparent url(../img/icons/16/picons00.png) no-repeat;
}

span.bicon {
  display: inline-block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin-top: 110px;
  margin-left: 100px;
  cursor: pointer;
}
span.bicon.disable {
  opacity: 0.1;
}
span.bicon.enable {
  opacity: 0.5;
}
span.bicon a {
  display: block;
}
.bicon56 {
  background: transparent url(../img/icons/32/picons16.png) no-repeat;
}
.bicon76 {
  margin-left: 140px !important;
  background: transparent url(../img/icons/32/picons36.png) no-repeat;
}
.bicon32 {
  margin-left: 185px !important;
  background: transparent url(../img/icons/32/picons32.png) no-repeat;
}
.bicon27 {
  margin-left: 230px !important;
  background: transparent url(../img/icons/32/picons27.png) no-repeat;
}
div.blog {
}
div.blog div.promo {
  position: relative;
  border-top: 1px #ccc solid;
  padding-top: 20px;
}
div.blog div.promo div.banner {
  text-align: center;
  position: relative;
}
div.blog div.promo div.banner div {
}
div.blog div.promo div.banner img.banner {
  border: 1px #ccc solid;
  padding: 3px;
  background-color: #fff;
  -moz-box-shadow: 1px 1px 10px #aaa;
  -webkit-box-shadow: 1px 1px 10px #AAA;
  background: white;
  width: 100%;
}
div.blog div.promo div.banner img.shadow {
  margin-top: -260px;
  margin-left: -494px;
  position: absolute;
}
div.blog div.promo div.icon img {
  position: absolute;
  margin-top: -160px;
  margin-left: 50px;
}
div.blog-promo-information {
  padding-top: 170px;
  padding-left: 80px;
}

div.events {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 5000;
}
div.event {
  background-color: #FFFFFF;
  border: 1px solid #EEE;
  border-top: 1px solid #00AEEF;
  padding: 9px 19px 9px 2px;
  cursor: pointer;
  display: none;
  margin-top: 20px;
  min-width: 250px;
  line-height: 14px;
}
div.event div.profile-name {
  margin-top: 5px;
  color: #00AEEF;
  font-size: 14px;
  padding: 0;
}
div.event div.profile-post {
  color: #b8b8b8;
  font-size: 10px;
  font-weight: 400;
}
div.event div.profile {
  margin-top: 10px;
  color: #999;
  padding: 0;
}
div.event img.avatar {
  float: left;
  margin: 5px;
}

div.teammates-inner div.sprints ul {
  list-style-type: none;
  list-style-image: none;
  white-space: nowrap;
}
div.teammates-inner div.sprints ul li {
  display: block;
  height: 13px;
  padding: 0;
  margin: 0;
  float: left;
  position: relative;
  cursor: pointer;
}
div.teammates-inner div.sprints ul li span {
  display: block;
  width: 100%;
  height: 13px !important;
}
div.teammates-inner div.sprints ul li.success {
  background-color: #a5df41;
}
div.teammates-inner div.sprints ul li.normal {
  background-color: #fecf23;
}
div.teammates-inner div.sprints ul li.failed {
  background-color: #ffaaaa;
}
div.teammates-inner {
  position: relative;
}
div.teammates-inner div.info {
  line-height: 19px;
}
ul.teammates-list, ul.teammates-inner-list, ul.teammates-tasks-list {
  list-style-type: none;
  list-style-image: none;
  line-height: 18px;
}
ul.teammates-list li, ul.teammates-inner-list li, ul.teammates-tasks-list li {
  margin: 0px 0px 10px 0px;
  padding: 3px;
  cursor: pointer;
  border-top: 1px solid transparent;
}
ul.teammates-inner-list li.my {
  background-color: #ffffff;
  border-top: 1px solid #00AEEF;
}
ul.teammates-list li:hover, ul.teammates-inner-list li:hover, ul.teammates-tasks-list li:hover {
  background-color: #ffffff !important;
  border-top: 1px solid #00AEEF;
}
ul.teammates-list li:hover, ul.teammates-inner-list li:hover, ul.teammates-tasks-list li.running {
  background-color: #f1f7f7;
  border-top: 1px solid #00AEEF;
}
ul.teammates-list img.avatar, ul.teammates-inner-list img.avatar, ul.teammates-tasks-list img.avatar {
  float: left;
  margin: 0px 5px 0px 0px;
  padding: 3px;
  background-color: #fff;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
ul.teammates-tasks-list img.avatar {
  border-radius: 10px;
}
ul.teammates-list div.profile-name, ul.teammates-inner-list div.profile-name, div.teammates-inner div.profile-name, ul.teammates-tasks-list div.profile-name {
  color: #197EAD;
  font-size: 12px;
  font-weight: 500;
  padding-right: 70px;
}
ul.teammates-list div.profile-post, ul.teammates-inner-list div.profile-post, div.teammates-inner div.profile-post {
  white-space: nowrap;
  padding-right: 70px;
}
ul.teammates-list div.profile-post, ul.teammates-inner-list div.profile-post, div.teammates-inner div.profile-post, ul.teammates-tasks-list div.profile-post {
  color: #b8b8b8;
  font-size: 12px;
  font-weight: 400;
  padding-right: 70px;
}
ul.teammates-list div.profile-online, ul.teammates-inner-list div.profile-online, div.teammates-inner div.profile-online, div.teammates-inner div.profile-status, ul.teammates-tasks-list div.profile-status {
  color: #b8b8b8;
  font-size: 12px;
  font-weight: 400;
}
ul.teammates-tasks-list li {
  position: relative;
}
ul.teammates-tasks-list li a.icon {
  color: #b8b8b8;
}
ul.teammates-tasks-list div.profile-info {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 600;
  margin-bottom: 10px;
}
span.priority {
  white-space: nowrap;
}
span.priority span {
  font-size: 10px;
  padding: 0px 5px;
  border-radius: 6px;
  font-weight: 900;
  color: #fff;
  text-align: center;
}
span.priority span.hight {
  background-color: red;
}
span.priority span.middle {
  background-color: yellow;
  color: #aaa;
}
span.priority span.low {
  background-color: green;
}
div.teammates-help {
  color: #b8b8b8;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 15px;
}
div.teammates-help a {
  font-size: 11px !important;
  font-weight: 400 !important;
  line-height: 14px !important;
}
a.teammates-button {
  display: block;
  margin: 0 auto;
  padding: 3px 0px 3px 0px;
  margin-top: 30px;
}
.teammates-blur {
  -webkit-filter: blur(1px);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
div.teammates-info {
  margin: 0 !important;
}
div.teammates-password {
  display: none;
}
div.teammates-password input {
  width: 110px;
  height: 15px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: gray;
  border: 1px solid #b8b8b8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 11px;
}
div.teammates-inner {
  background-color: #ffffff;
  border-top: 1px solid #00AEEF;
  padding: 5px;
  margin-bottom: 20px;
}
div.teammates-inner img.avatar {
  float: left;
  margin: 0px 5px 0px 0px;
  padding: 3px;
  background-color: #ebf0f0;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
div.line {
  border-top: 1px #b8b8b8 solid;
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
}

div.progress {
  position: relative;
  background-color: #1a1a1a;
  height: 25px;
  padding: 2px;
  width: 80%;
  margin: 0px auto;     
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}
div.progress span {
  display: inline-block;
  height: 100%; 
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  -webkit-transition: width .4s ease-in-out;
  -moz-transition: width .4s ease-in-out;
  -ms-transition: width .4s ease-in-out;
  -o-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}
div.progress div {
  position: absolute;
  text-align: center;
  width: 100%;
  color: #fff;
}
.blue span {
  background-color: #34c2e3;
}
.orange span {
  background-color: #fecf23;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fecf23), to(#fd9215));
  background-image: -webkit-linear-gradient(top, #fecf23, #fd9215);
  background-image: -moz-linear-gradient(top, #fecf23, #fd9215);
  background-image: -ms-linear-gradient(top, #fecf23, #fd9215);
  background-image: -o-linear-gradient(top, #fecf23, #fd9215);
  background-image: linear-gradient(top, #fecf23, #fd9215);  
} 
.green span {
  background-color: #a5df41;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5df41), to(#4ca916));
  background-image: -webkit-linear-gradient(top, #a5df41, #4ca916);
  background-image: -moz-linear-gradient(top, #a5df41, #4ca916);
  background-image: -ms-linear-gradient(top, #a5df41, #4ca916);
  background-image: -o-linear-gradient(top, #a5df41, #4ca916);
  background-image: linear-gradient(top, #a5df41, #4ca916);
}
.stripes span {
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  background-size: 30px 30px;
  background-image: -webkit-gradient(linear, left top, right bottom,
  color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
  color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
  color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
  to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
  transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
  transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
  transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
  transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
  transparent 75%, transparent);
  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
}
@-webkit-keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
@-moz-keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
div.teammates-tasks-add-area, div.teammates-tasks-edit-area {
  display: none;
}
div.teammates-tasks-add-area div.block, div.teammates-tasks-edit-area div.block {
  margin-bottom: 10px;
}
div.teammates-tasks-add-area input, div.teammates-tasks-edit-area input {
  width: 80%;
}
div.teammates-tasks-add-area textarea, div.teammates-tasks-edit-area textarea {
  width: 80%;
  height: 300px;
}
div.task-review textarea {
  width: 100%;
  height: 100px;
}

.icon {
  display: inline-block;
  padding: 5px 10px 5px 20px;
}
.icon.icon-add {
  background: transparent url('../img/add.png') left center no-repeat;
}
.icon.icon-remove {
  background: transparent url('../img/remove.png') left center no-repeat;
}
.icon.icon-comments {
  background: transparent url('../img/comments.png') left center no-repeat;
}
.icon.icon-task {
  background: transparent url('../img/task.png') left center no-repeat;
}
.icon.icon-risk {
  background: transparent url('../img/risk.png') left center no-repeat;
}
.icon.icon-time {
  background: transparent url('../img/time.png') left center no-repeat;
}
.icon.icon-mark-green {
  background: transparent url('../img/mark-green.png') left center no-repeat;
}
.icon.icon-mark-red {
  background: transparent url('../img/mark-red.png') left center no-repeat;
}

ul.events-list {
  list-style-type: none;
  list-style-image: none;
}
ul.events-list li {
  position: relative;
  border-top: 1px solid transparent;
  padding: 5px;
  cursor: pointer;
  line-height: 19px;
}
ul.events-list li:hover {
  background-color: #ffffff;
  border-top: 1px solid #00AEEF;
}
ul.events-list li img.avatar {
  width: 32px;
  float: left;
  margin: 0px 5px 0px 0px;
  padding: 3px;
  background-color: #fff;
  border-radius: 5px;
}
ul.events-list li img.event {
  margin: 0px 2px 0px 0px;
  padding: 0px;
  width: 38px;
}
ul.events-list li div.time {
  position: absolute;
  right: 5px;
  color: #b8b8b8;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  text-align: right;
  background-position: left 5px !important;
  min-width: 130px;
}
ul.events-list li div.name {
  color: #197EAD;
  font-size: 12px;
  font-weight: 500;
  display: inline-block
}
ul.events-list li div.avatar {
  float: left;
}
ul.events-list li div.post {
  color: #b8b8b8;
  font-size: 12px;
  font-weight: 400;
}
ul.events-list li div.block {
}

.template {
  display: none;
}
.line .title span {
  position: absolute;
  right: 10px;
  top: 0px;
}
.line {
  position: relative;
}
div.teammates-inner div.menu ul {
  float: right;
}
div.teammates-inner div.menu ul li {
  display: inline-block;
}
div.teammates-inner div.menu ul li:hover {
  background-color: #ebf0f0;
}
div.teammates-inner div.menu ul li a {
  padding: 0 10px;
}
p.status {
  font-weight: 800;
}
div.task-status div {
  margin: 0 auto;
}
p.status .warning {
  color: #eabc1e;
}
p.status .success {
  color: #41b578;
}
p.status .important {
  color: red;
}
div.task > div.info {
  padding-bottom: 10px;
}
div.task div.info, div.task div.info a {
  font-size: 12px;
}
div.task div.info b {
  color: #b8b8b8;
}
div.task div.info p {
  margin: 0;
}
ul.events-list li div.points {
  font-size: 22px;
  font-weight: 800;
  position: absolute;
  right: 5px;
  top: 13px;
}
ul.events-list li div.points.important {
  color: red;
}
ul.events-list li div.points.success {
  color: #a5df41;
}
footer ul.links {
  list-style-type: none;
  list-style-image: none;
  text-align: left;
}
footer div.links {
  display: block;
  margin: 0 auto;
}
footer ul.links li {
  display: inline-block;
  padding: 0 5px;
}
footer ul.links li:first-child {
  padding-left: 0;
}
div.canvas {
  display: none;
  background: #fff;
  border: 1px #b8b8b8 solid;
}
div.announcement {
  background-color: #fff;
  border: 1px #b8b8b8 solid;
  border-top: 1px solid #00AEEF;
  margin-bottom: 20px;
}
canvas {
  background: none !important;
}
div.blur {
  -webkit-filter: blur(2px);
  overflow: hidden;
}
div.launch {
  position: relative;
}
div.launch div.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
}
div.launch div.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: 0;
  background-color: #fff;
  width: 500px;
  height: 128px;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
   -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
       -ms-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
           transition: all 0.1s linear;
}
div.launch.active div.inner:hover {
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}
div.launch.disabled div.inner {
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}
div.launch div.inner img {
  float: left;
  padding-right: 5px;
}
div.launch div.inner div.title {
  font-size: 42px;
  font-weight: 800;
  color: #71c1ff;
  margin-top: -15px;
}
div.launch div.inner div.description {
  font-size: 18px;
  margin-left: 10px;
  line-height: 20px;
  color: #aaa;
}
div.launch div.inner div.description p {
  padding: 0;
  margin: 0;
}
div.launch div.inner div.description p.small {
  font-size: 11px;
  color: #ddd;
  margin-top: 5px;
}
.no-transitions {
   -webkit-transition: none !important;
      -moz-transition: none !important;
       -ms-transition: none !important;
        -o-transition: none !important;
           transition: none !important;
}