* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(../fonts/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(../fonts/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../fonts/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
body {
  color: #444;
  text-shadow: #fff 0 2px 2px;
  font: 14px/19px Roboto, sans-serif;
  font-family: 'Roboto',arial,sans-serif;
  font-weight: 400;
  letter-spacing: .1;
  line-height: 1.8;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 980px;
  background-color: #ebf0f0;
}
body.blank {
  background-color: #fff;
}
section.e404 {
  width: 800px;
  margin: 0 auto;
  margin-top: 250px;
}
section.e404 div.title {
  float: left;
  border-right: 3px #197EAD solid;
  padding-right: 20px;
}
section.e404 div.text {
  float: left;
  padding-left: 20px;
  max-width: 360px;
}
section.e404 div.text h1 {
  color: #197EAD;
  padding-top: 0;
  margin-top: 0;
}
section.reflection {
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  background: #FFF url(../img/stripes.png);
}
ul {
  list-style-image: url(../img/marker.png);
}
h1 {
  color: #197EAD;
  text-shadow: #fff 0 2px 2px;
  font-weight: 400;
  margin: 20px 0 20px;
}
h2 {
  color: #197EAD;
  text-shadow: #fff 0 2px 2px;
  font-size: 22px;
  margin: 20px 0 20px;
  padding: 0 0 10px;
  font-weight: 400;
}
h3 {
  color: #197EAD;
  font-weight: 400;
  margin: 20px 0 20px;
}
p {
  margin-bottom: 10px;
}
ul, ol {
  list-style-position: inside;
}
a {
  color: #33B5E5;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
   -webkit-transition: color 0.25s linear;
      -moz-transition: color 0.25s linear;
       -ms-transition: color 0.25s linear;
        -o-transition: color 0.25s linear;
           transition: color 0.25s linear;
}
a:hover {
  color: #7aa1b0;
  text-decoration: underline;
}
.nomargin {
  margin: 0 !important;
}
.button, a.button {
  background-color: #09c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2faddb), to(#09c));
  background-image: -webkit-linear-gradient(top, #2faddb, #09c);
  background-image: -moz-linear-gradient(top, #2faddb, #09c);
  background-image: -ms-linear-gradient(top, #2faddb, #09c);
  background-image: -o-linear-gradient(top, #2faddb, #09c);
  background-image: linear-gradient(top, #2faddb, #09c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2faddb', EndColorStr='#0099cc',GradientType=0);
  border: 1px solid #3990ab;
  color: #fff;
  border-image: initial;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;    height: 28px;
  line-height: 28px;
  margin-right: 16px;
  font-weight: 400;
  min-width: 54px;
  outline: 0;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}
.button:hover, a.button:hover {
  border-color: #09c;
  background-color: #4cadcb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5dbcd9), to(#4cadcb));
  background-image: -webkit-linear-gradient(top, #5dbcd9, #4cadcb);
  background-image: -moz-linear-gradient(top, #5dbcd9, #4cadcb);
  background-image: -ms-linear-gradient(top, #5dbcd9, #4cadcb);
  background-image: -o-linear-gradient(top, #5dbcd9, #4cadcb);
  background-image: linear-gradient(top, #5dbcd9, #4cadcb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5dbcd9', EndColorStr='#4cadcb',GradientType=0);
  color: #fff !important;
}
.button:active, a.button:active {
  background-color: #1e799a;
  background-image: none;
  border-color: #30b7e6;
}
p.button-link {
  margin-left: 70px;
}
p.button-link a {
  font-size: 14px;
}
.presentation {
  width: 400px;
  margin-left: 20px;
}
.presentation h2 {
  margin-top: 0;
}
header {
}
header div.logo {
  width: 160px;
  height: 56px;
  margin-top: -5px;
  position: absolute;
}
header div.logo div.logo-text {
  position: absolute;
  background: transparent url(../img/logo_text.png) no-repeat;
  width: 122px;
  height: 38px;
  margin-left: 30px;
  margin-top: 18px;
}
header div.logo div.logo-hero {
  position: absolute;
  background: transparent url(../img/logo_animation.png) no-repeat;
  width: 39px;
  height: 51px;
}
header div.logo div.logo-hero.animation-1 { background-position: 0 0; }
header div.logo div.logo-hero.animation-2 { background-position: -39px 0; }
header div.logo div.logo-hero.animation-3 { background-position: -78px 0; }
header div.logo div.logo-hero.animation-4 { background-position: -117px 0; }
header div.logo div.logo-hero.animation-5 { background-position: -156px 0; }


header div.logo div.logo-hero.animation-6 { background-position: 0 -51px; }
header div.logo div.logo-hero.animation-7 { background-position: -39px -51px; }
header div.logo div.logo-hero.animation-8 { background-position: -78px -51px; }
header div.logo div.logo-hero.animation-9 { background-position: -117px -51px; }
header div.logo div.logo-hero.animation-10 { background-position: -156px -51px; }
header div.logo div.logo-hero.animation-11 { background-position: 0 -102px; }
header div.logo div.logo-hero.animation-12 { background-position: -39px -102px; }
header div.logo div.logo-hero.animation-13 { background-position: -78px -102px; }
header div.logo div.logo-hero.animation-14 { background-position: -117px -102px; }
header div.logo div.logo-hero.animation-15 { background-position: -156px -102px; }
header div.logo div.logo-hero.animation-16 { background-position: 0 -153px; }
header div.logo div.logo-hero.animation-17 { background-position: -39px -153px; }
header div.logo div.logo-hero.animation-18 { background-position: -78px -153px; }
header div.logo div.logo-hero.animation-19 { background-position: -117px -153px; }
header div.logo div.logo-hero.animation-20 { background-position: -156px -153px; }

header div.logo div.logo-hero.animation-21 { background-position: 0 -204px; }
header div.logo div.logo-hero.animation-22 { background-position: -39px -204px; }
header div.logo div.logo-hero.animation-23 { background-position: -78px -204px; }
header div.logo div.logo-hero.animation-24 { background-position: -117px -204px; }
header div.logo div.logo-hero.animation-25 { background-position: -156px -204px; }
header div.logo div.logo-hero.animation-26 { background-position: 0 -255px; }
header div.logo div.logo-hero.animation-27 { background-position: -39px -255px; }
header div.logo div.logo-hero.animation-28 { background-position: -78px -255px; }
header div.logo div.logo-hero.animation-29 { background-position: -117px -255px; }
header div.logo div.logo-hero.animation-30 { background-position: -156px -255px; }

header div.logo a {
  display: block;
  width: 160px;
  height: 56px;
  position: absolute;
  margin-top: -2px;
}
header div.logo:active {
  margin-top: -4px;
}
header div.content {
  position: relative;
  padding: 10px 0;
}
header div.content ul.menu {
  float: right;
  margin-right: 60px;
}
header div.content ul.menu li {
  display: inline-block;
  padding: 10px 10px;
}
header div.content ul.menu li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
   -webkit-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
       -ms-transition: all 0.25s linear;
        -o-transition: all 0.25s linear;
           transition: all 0.25s linear;
}
header div.content ul.menu li a:hover, header div.content ul.menu li a.active  {
  color: #33B5E5;
}
footer {
  background: #FFF url(../img/stripes.png);
  border-top: 1px #ccc solid;
  clear: both;
}
footer div.content {
  position: relative;
  padding: 10px 0;
  margin-top: 10px;
}
footer h3 {
  color: #197EAD;
  text-shadow: #fff 0 2px 2px;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
}
footer h4 {
  color: #197EAD;
  text-shadow: #fff 0 2px 2px;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 500;
}
footer ul.main li {
  display: inline-block;
  vertical-align: top;
}
footer ul.main li.column-1 {
  width: 300px;
}
footer ul.main li.column-2 {
  width: 200px;
}
footer ul.main li.column-3 {
  width: 220px;
}
footer ul.main li.column-3 li {
  margin-bottom: 10px;
  width: 220px;
}
footer ul.main li.column-4 {
  background: transparent url(../img/twitter.png) 170px 5px no-repeat;
  width: 210px;
}
footer ul.main li.column-4 li {
  margin-bottom: 10px;
}
footer ul.main li.column-2 ul {
  width: 100px;
  float: left;
}
footer ul.main li.column-2 ul li {
  width: 100px;
}
footer input {
  margin: 10px 0;
  width: 190px;
  padding-left: 5px;
}
footer div.subscribers {
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 80px;
  padding-bottom: 30px;
  background: transparent url(../img/android-icon.png) no-repeat;
}
footer div.subscribers span {
  font-size: 24px;
}
footer div.subscribers div {
  padding-left: 10px;
  font-size: 16px;
}
section.products-presentation ul.control-links li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 2px;
  border-radius: 6px;
  background-color: #CCC;
  cursor: pointer;
}
section.products-presentation ul.control-links li.active {
  background-color: #33B5E5;
}
section.products-presentation ul.control-links {
  width: 60px;
  margin: 0 auto;
  padding: 10px 0;
  list-style-image: none;
  list-style: none;
}
ul#slider {
  list-style-image: none;
  list-style: none;
}
section.products-presentation div.slider {
  width: 980px;
  height: 444px;
  position: relative;
}
section.products-presentation div.slider img {
  border: 1px #ccc solid;
  padding: 3px;
  background-color: #fff;
-moz-box-shadow: 1px 1px 10px #aaa;
-webkit-box-shadow: 1px 1px 10px #AAA;
background: white;
}
section.products-presentation div.slider a.arrow {
  cursor: pointer;
  position: absolute;
  top: 180px;
  width: 20px;
  height: 36px;
}
section.products-presentation div.slider a.arrow-left {
  left: 0;
  background: transparent url(../img/arrow-left.png) no-repeat;
}
section.products-presentation div.slider a.arrow-right {
  right: 0;
  background: transparent url(../img/arrow-right.png) no-repeat;
}
section.products-presentation div.slider a.arrow-left:hover {
  background-position: 0 -36px;
}
section.products-presentation div.slider a.arrow-right:hover {
  background-position: 0 -36px;
}
section.products-presentation div.slider a.arrow-left:active {
  background-position: 0 -72px;
}
section.products-presentation div.slider a.arrow-right:active {
  background-position: 0 -72px;
}
section.products-presentation div.slider div.ads {
  width: 858px;
  height: 424px;
  margin: 0 auto;
  margin-top: 30px;
}
section.products-presentation div.slider div.ads li {
  position: absolute;
}
section.products-presentation div.slider div.ads li.banner {
  /**transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  -moz-transform: scale(0.9);
  opacity: 0.35;*/
}
div.content, section.content {
  width: 980px;
  margin: 0 auto;
}
section.content {
  padding-bottom: 40px;
  margin-top: 40px;
}
section.content h1, section.content h2, section.content h3 {
  padding-top: 0;
  margin-top: 0;
}
section.content h1 a, section.content h2 a, section.content h3 a {
  color: #197EAD;
  font-size: 22px;
}
section.content div.left {
  width: 229px;
  padding-right: 20px;
  float: left;
  margin-top: 82px;
}
section.content div.right {
  width: 709px;
  padding-left: 20px;
  float: right;
  background: transparent url(../img/lr.png) top left repeat-y;
}
div.information {
  position: relative;
  padding: 10px 0;
  margin-top: 10px;
}
.clearfix {
  clear: both;
}
div.footer {
  font-size: 13px;
  border-top: 1px #ccc solid;
}
div.footer div.content {
  margin-top: 0;
}
div.copyright {
  float: left;
  width: 300px;
}
div.footer div.language {
  float: right;
}
div.footer div.language select {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  height: 23px;
  width: 200px;
}
span.special {
  color: #333;
  font-size: 22px;
}
img.left {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
ul.sites-list li {
  display: inline-block;
  margin: 0 2px;
  max-width: 70px;
  text-align: center;
  line-height: 15px;
  vertical-align: top;
}
ul.sites-list li img {
  width: 50px;
  padding: 3px;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}
img.image {
  padding: 3px;
  border:1px #CCC solid;
  -moz-box-shadow: 1px 1px 10px #aaa;
  -webkit-box-shadow: 1px 1px 10px #AAA;
  background: white;
}
footer form input {
  width: 240px !important;
  height: 20px !important;
}
ul.base-team-list {
  list-style: none;
}
ul.base-team-list li {
  clear: both;
  padding-bottom: 40px;
}
ul.base-team-list li img {
  margin-bottom: 20px;
}
ul.team-list {
  padding-bottom: 30px;
  list-style-type: none;
  list-style-image: none;
}
ul.team-list li {
  clear: both;
  padding-bottom: 15px;
}
ul.team-list img {
  width: 130px;
  padding: 3px;
  border: 1px #ccc solid;
  -moz-box-shadow: 1px 1px 10px #aaa;
  -webkit-box-shadow: 1px 1px 10px #AAA;
  background: white;
}
ul.team-list div.title {
  font-weight: bold;
}
ul.team-list div.title, ul.team-list div.text, ul.team-list div.info {
  margin-left: 10px;
  float: left;
  width: 500px;
}
ul.team-list div.info {
  color: #BBB;
  font-size: 11px;
}
ul.team-list div.text p {
  margin-top: 26px !important;
}
ul.team-list div.text {
  margin-top: 10px;
}
div.classes div {
  text-align: left;
  margin-right: 40px;
}
div.classes div a {
  font-size: 16px;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
div.classes div a:hover {
  padding-left: 10px;
  text-decoration: none;
}
div.blog div.info {
  margin-top: -35px;
  color: #BBB;
  font-size: 11px;
  margin-bottom: 30px;
}
div.blog div.info a {
  color: #BBB;
  font-size: 11px;
  text-decoration: underline;
}
img.blog-img {
  margin-right: 10px;
}
div.blog p.centered {
  margin: 0 auto;
  text-align: center;
}
img.blog-img-center {
  display: inline-block;
  margin: 10px auto;
  padding: 3px;
  border: 1px #CCC solid;
}
ul.tweets div.image {
  float: left;
  padding: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  height: 40px;
}
ul.tweets div.image img {
  width: 40px;
  border-radius: 5px;
}
ul.tweets li {
  width: 100%;
}
ul.tweets div.description {
  color: #BBB;
  font-size: 13px;
  padding-left: 55px;
}
.elements-devider {
  background: transparent url(../img/devider.png) center no-repeat;
  height: 6px;
}
div.social-buttons {
  float: right;
  width: 260px;
  height: 42px;
  margin-top: -16px;
}
div.social-buttons ul {
  
}
div.social-buttons ul li {
  display: inline-block;
  width: 44px;
  height: 42px;
}
div.social-buttons ul li a {
  display: block;
  width: 44px;
  height: 42px;
}
div.social-buttons ul li:hover {
  background-position: 0 -42px;
}
div.social-buttons ul li.facebook {
  background-image: url(../img/facebook.png);
}
div.social-buttons ul li.twitter {
  background-image: url(../img/twitter-social.png);
}
div.social-buttons ul li.google {
  background-image: url(../img/google.png);
}
div.social-buttons ul li.youtube {
  background-image: url(../img/youtube.png);
}
div.social-buttons ul li.vk {
  background-image: url(../img/vk.png);
}
div.code {
  background-color: #fff;
  padding: 8px;
  border: 1px #ccc solid;
}

textarea {
margin-left:0px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

display: inline-block;
padding: 4px;
font-size: 13px;
line-height: 18px;
color: gray;
border: 1px solid #CCC;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
textarea.error {
outline: 0;
  border-color: rgba(185, 74, 72, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
}
input[type=submit] {width:0;height:0;border:none;background-color:#fff;position:absolute;}
input[type=text], .dataInputs input[type=password] {
width: 327px;

  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

display: inline-block;
height: 22px;
padding: 4px;
font-size: 13px;
line-height: 18px;
color: gray;
border: 1px solid #CCC;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
input[type=text].error, input[type=password].error
{
    color: #B94A48;
    border-color: #EE5F5B;
  outline: 0;
  border-color: rgba(185, 74, 72, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
}
input[type=text].error:focus, input[type=password].error:focus {
  outline: 0;
  border-color: rgba(185, 74, 72, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(185, 74, 72, 0.6);
}
label {
font-style:normal;
font-size: 14px;
line-height: 18px;
color:#333;
padding-right: 15px;
}
select{
         display: inline-block;
height: 30px;
padding: 4px;
font-size: 13px;
line-height: 18px;
color: gray;
border: 1px solid #CCC;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
width:250px;
}
select:focus{
    outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type=text], input[type=password] {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input[type=text]:focus, input[type=password]:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type=text].search {
  padding-left:25px;
  background:transparent url(../images/b/search.png) 7px 9px no-repeat;
}