<div class="teammates-inner">
  <div class="inner">
    <div class="info">
      <div><img src="{$url}/assets/img/corp/{if $user.avatar}{$user.avatar}{else}photo.jpg{/if}" class="avatar"></div>
      <div class="profile-name">{l s=$user.name} {l s=$user.surname}</div>
      <div class="profile-post">{l s=$user.post}</div>
      <div class="profile-status">{if $user.status == 0}{l s='Now offline'}{else}<b>{l s='Online'}</b>{/if}</div>
    </div>
    <div class="line"></div>
      {$temp = 0|rand:100}
    <div class="progress stripes {if $temp < 75}orange{else}green{/if}">
      <div>{l s='Прогресс на спринте'}: {$temp}%</div>
      <span class="bar" style="width: {$temp}%"></span>
    </div>
  </div>
</div>