<div class="teammates-inner" style="padding: 0;">
  <div class="inner">
    <div class="info menu">
      <div>
        <ul>
          <li><a id="show-profile">{l s='Моя доска'}</a></li>
          <li><a href="">{l s='Рейтинг'}</a></li>
          <li><a href="">{l s='Статистика'}</a></li>
          <li><a id="show-settings">{l s='Настройки'}</a></li>
          <li><a id="sign-out">{l s='Выйти'}</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="teammates-inner" style="padding: 0;">
  <div class="inner">
    <div class="info sprints">
      <div>
        <ul>
          <li class="success stripes" style="width: 100%"><span>&nbsp;</span>
          <!--<li class="success stripes" style="width: 25%"><span>&nbsp;</span></li>
          <li class="normal stripes" style="width: 25%"><span>&nbsp;</span></li>
          <li class="failed stripes" style="width: 25%"><span>&nbsp;</span></li>
          <li class="success stripes" style="width: 25%"><span>&nbsp;</span></li>-->
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>