<div class="teammates-help">
  <p>
    {l s='Здесь отображен список задач на текущем спринте'}.
    {l s='Нажмите на задачу чтобы отобразить более подробную информацию, комментарии и требования'}.
  </p>
  <p>
    {l s='Невыполненные в срок задачи переносятся на следующий спринт'}.
  </p>
  <a href="{$url}/corp/help/#completision">{l s='Почему я не могу отменить задачу или пометить ее как выполненную'}?</a>
</div>

{if $confirm_tasks|count > 0 && $confirm_id == $user.id}
<h3><b>{l s='Требующие подтверждения'} ({$confirm_tasks|count})</b></h3>
<ul class="teammates-tasks-list">
{foreach from=$confirm_tasks item=some}
  <li class="teammates-task" data="{$some.id}">
    <img src="{$url}/assets/img/corp/task-{$some.type}.png" class="avatar">
    <div class="profile-info">
      {if $some.comments.count > 0}<a class="icon icon-comments" title="{l s='Количество комментариев к данной задаче'}">{$some.comments.count}</a>{/if}
      {if $some.requirements.count > 0}<a class="icon icon-task" title="{l s='Количество указанных требований'}">{$some.requirements.count}</a>{/if}
      {if $some.risks.count > 0}<a class="icon icon-risk" title="{l s='Количество предвиденных рисков'}">{$some.risks.count}</a>{/if}
    </div>
    <div class="profile-name">
      {$some.title}
      <span class="priority">
        {if $some.priority == 1}<span class="hight">{l s='высокий приоритет'|lower}</span>{/if}
        {if $some.priority == 2}<span class="middle">{l s='Средний приоритет'|lower}</span>{/if}
        {if $some.priority == 3}<span class="low">{l s='Низкий приоритет'|lower}</span>{/if}
      </span>
    </div>
    <div class="profile-post">{i s=$some.description|truncate:170}</div>
    <div class="clearfix"></div>
  </li>
{/foreach}
</ul>
{/if}

{assign var="count" value="0"}
{foreach from=$tasks item=some}
{if $some.status == 3 and $some.sprint == $sprint}
{assign var="count" value=$count + 1}
{/if}
{/foreach}
{if $count > 0}
<h3><b>{l s='Ожидающие подтверждения'} ({$count})</b></h3>
<ul class="teammates-tasks-list">
{foreach from=$tasks item=some}
  {if $some.status == 3 and $some.sprint == $sprint}
  <li class="teammates-task" data="{$some.id}">
    <img src="{$url}/assets/img/corp/task-{$some.type}.png" class="avatar">
    <div class="profile-info">
      {if $some.comments.count > 0}<a class="icon icon-comments" title="{l s='Количество комментариев к данной задаче'}">{$some.comments.count}</a>{/if}
      {if $some.requirements.count > 0}<a class="icon icon-task" title="{l s='Количество указанных требований'}">{$some.requirements.count}</a>{/if}
      {if $some.risks.count > 0}<a class="icon icon-risk" title="{l s='Количество предвиденных рисков'}">{$some.risks.count}</a>{/if}
    </div>
    <div class="profile-name">
      {$some.title}
      <span class="priority">
        {if $some.priority == 1}<span class="hight">{l s='высокий приоритет'|lower}</span>{/if}
        {if $some.priority == 2}<span class="middle">{l s='Средний приоритет'|lower}</span>{/if}
        {if $some.priority == 3}<span class="low">{l s='Низкий приоритет'|lower}</span>{/if}
      </span>
    </div>
    <div class="profile-post">{i s=$some.description|truncate:170}</div>
    <div class="clearfix"></div>
  </li>
  {/if}
{/foreach}
</ul>
{/if}
{assign var="count" value="0"}
{foreach from=$tasks item=some}
{if ($some.status < 3 || $some.status == 4) and $some.sprint == $sprint}
{assign var="count" value=$count + 1}
{/if}
{/foreach}
{if $count > 0}
<h3><b>{l s='Текущие задачи'} ({$count})</b></h3>
<ul class="teammates-tasks-list">
{foreach from=$tasks item=some}
  {if ($some.status < 3 || $some.status == 4) and $some.sprint == $sprint}
  <li class="teammates-task {if $some.status == 2}running{/if}" data="{$some.id}">
    <img src="{$url}/assets/img/corp/task-{$some.type}.png" class="avatar">
    <div class="profile-info">
      {if $some.comments.count > 0}<a class="icon icon-comments" title="{l s='Количество комментариев к данной задаче'}">{$some.comments.count}</a>{/if}
      {if $some.requirements.count > 0}<a class="icon icon-task" title="{l s='Количество указанных требований'}">{$some.requirements.count}</a>{/if}
      {if $some.risks.count > 0}<a class="icon icon-risk" title="{l s='Количество предвиденных рисков'}">{$some.risks.count}</a>{/if}
    </div>
    <div class="profile-name">
      {$some.title}
      <span class="priority">
        {if $some.priority == 1}<span class="hight">{l s='высокий приоритет'|lower}</span>{/if}
        {if $some.priority == 2}<span class="middle">{l s='Средний приоритет'|lower}</span>{/if}
        {if $some.priority == 3}<span class="low">{l s='Низкий приоритет'|lower}</span>{/if}
      </span>
    </div>
    <div class="profile-post">{i s=$some.description|truncate:170}</div>
    <div class="clearfix"></div>
  </li>
  {/if}
{/foreach}
</ul>
{/if}
{assign var="count" value="0"}
{foreach from=$tasks item=some}
{if $some.status == 6 and $some.sprint == $sprint}
{assign var="count" value=$count + 1}
{/if}
{/foreach}
{if $count > 0}
<h3><b>{l s='Выполненные задачи'} ({$count})</b></h3>
<ul class="teammates-tasks-list">
{foreach from=$tasks item=some}
  {if $some.status == 6 and $some.sprint == $sprint}
  <li class="teammates-task" data="{$some.id}">
    <img src="{$url}/assets/img/corp/task-{$some.type}.png" class="avatar">
    <div class="profile-info">
      {if $some.comments.count > 0}<a class="icon icon-comments" title="{l s='Количество комментариев к данной задаче'}">{$some.comments.count}</a>{/if}
      {if $some.requirements.count > 0}<a class="icon icon-task" title="{l s='Количество указанных требований'}">{$some.requirements.count}</a>{/if}
      {if $some.risks.count > 0}<a class="icon icon-risk" title="{l s='Количество предвиденных рисков'}">{$some.risks.count}</a>{/if}
    </div>
    <div class="profile-name">
      {$some.title}
      <span class="priority">
        {if $some.priority == 1}<span class="hight">{l s='высокий приоритет'|lower}</span>{/if}
        {if $some.priority == 2}<span class="middle">{l s='Средний приоритет'|lower}</span>{/if}
        {if $some.priority == 3}<span class="low">{l s='Низкий приоритет'|lower}</span>{/if}
      </span>
    </div>
    <div class="profile-post">{i s=$some.description|truncate:170}</div>
    <div class="clearfix"></div>
  </li>
  {/if}
{/foreach}
</ul>
{/if}
{assign var="count" value="0"}
{foreach from=$tasks item=some}
{if $some.sprint > $sprint}
{assign var="count" value=$count + 1}
{/if}
{/foreach}
{if $count > 0}
<h5><b>{l s='Задачи, поставленные на последующие спринты'} ({$count})</b></h5>
<ul class="teammates-tasks-list">
{foreach from=$tasks item=some}
  {if $some.sprint > $sprint}
  <li class="teammates-task" data="{$some.id}">
    <div class="profile-info">
      {if $some.comments.count > 0}<a class="icon icon-comments" title="{l s='Количество комментариев к данной задаче'}">{$some.comments.count}</a>{/if}
      {if $some.requirements.count > 0}<a class="icon icon-task" title="{l s='Количество указанных требований'}">{$some.requirements.count}</a>{/if}
      {if $some.risks.count > 0}<a class="icon icon-risk" title="{l s='Количество предвиденных рисков'}">{$some.risks.count}</a>{/if}
    </div>
    <div class="profile-name">
      {$some.title}
    </div>
    <div class="clearfix"></div>
  </li>
  {/if}
{/foreach}
</ul>
{/if}
<div class="line"></div>