<div class="links">
  <ul class="links">
    <li><a href="#main-server-status"><b>{l s='Main Server'}</b></a></li>
    <li><a href="#database-server-status"><b>{l s='Database Server'}</b></a></li>
    <li><a href="#static-server-status"><b>{l s='Static Server'}</b></a></li>
    <li><a href="#statistics-server-status"><b>{l s='Statistics Server'}</b></a></li>
    <li class="tip">
    <a href="#social-networks-status"><b>{l s='Social Networks'}</b></a>
      <ul>
        <li><a href="#www.vk.com"><b>www.vk.com</b></a></li>
        <li><a href="#www.ok.ru"><b>www.ok.ru</b></a></li>
        <li><a href="#www.facebook.com"><b>www.facebook.com</b></a></li>
        <li><a href="#plus.google.com"><b>plus.google.com</b></a></li>
      </ul>
    </li>
    <li class="tip">
      <a href="#games-servers-status"><b>{l s='Games Status'}</b></a>
      <ul>
      {foreach from=$games item=some}
        <li>
          <a href="#game-{$some.id}"><b>{$some.name} {$some.version}</b></a>
          <sup>
          {if $some.platform == 0}www.tooflya.com{/if}
          {if $some.platform == 1}www.vk.com{/if}
          {if $some.platform == 2}www.ok.ru{/if}
          {if $some.platform == 3}www.facebook.com{/if}
          {if $some.platform == 4}plus.google.com{/if}
          </sup>
        </li>
      {/foreach}
      </ul>
    </li>
    <li></li>
    <li class="update"><a href="#"><b>{l s='Update Now'}</b></a></li>
  </ul>
</div>
