{include file="ApiController/include/header.html"}
<div class="container" id="api-introducing">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="center promo">
          <i class="mdi-image-flash-on"></i>
          <p class="promo-caption">Speeds up development</p>
          <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="center promo">
          <i class="mdi-social-group"></i>
          <p class="promo-caption">User Experience Focused</p>
          <p class="light center">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="center promo">
          <i class="mdi-action-settings"></i>
          <p class="promo-caption">Easy to work with</p>
          <p class="light center">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="row center">
      <p class="text light center">
        This API methods are used in games and applications of <a href="//network.tooflya.com">Tooflya Network</a>.
        On this page we have compiled documentation on all methods, statistics and use theirs system status. If you have any questions feel free to write to the <a href="mailto:support@tooflya.com">support@tooflya.com</a>.
      </p>
      <p>
        <a href="#api-documentation" class="btn-large waves-effect waves-light get-started-button">{l s='Get Started'}</a>
      </p>
    </div>
  </div>
</div>
<div class="container" id="api-documentation">
  <div class="row">
    <div class="col hide-on-small-only m3 l2">
      <div style="height: 1px;">
        <ul class="section table-of-contents" data-origpos="64" data-origmargin="1.5rem" style="top: 48px; margin-top: 1.5rem;">
          <li><a href="#api-documentation-group-users" class="active">users</a></li>
          <li><a href="#api-documentation-group-storage">storage</a></li>
          <li><a href="#api-documentation-group-payments">payments</a></li>
          <li><a href="#api-documentation-group-promo">promo</a></li>
          <li><a href="#api-documentation-group-level">level</a></li>
          <li><a href="#api-documentation-group-score">score</a></li>
          <li><a href="#api-documentation-group-coins">coins</a></li>
          <li><a href="#api-documentation-group-energy">energy</a></li>
          <li><a href="#api-documentation-group-notifications">notifications</a></li>
          <li><a href="#api-documentation-group-request">request</a></li>
          <li><a href="#api-documentation-group-buttles">buttles</a></li>
        </ul>
      </div>
    </div>

    <div class="col s12 m9 l10">
      <div class="section row scrollspy" id="api-documentation-group-users">
        <h2 class="header">Users</h2>
        <p class="caption">This is a set of methods which allow to identify the user and to sync personal data.</p>

        <div class="col s12 m6">
          <div class="card type type1">
            <div class="card-image">
              <span class="card-title">users.visit</span>
            </div>  
            <div class="card-content">
              <p>Method is designed to sync user data and identify user on primary actions (game start, for example).</p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card type type1">
            <div class="card-image">
              <span class="card-title">users.leaders</span>
            </div>  
            <div class="card-content">
              <p><i>No description.</i></p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card type type1">
            <div class="card-image">
              <span class="card-title">users.online</span>
            </div>  
            <div class="card-content">
              <p>Method is designed to get user online status.</p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>
      </div>

      <div class="section row scrollspy" id="api-documentation-group-storage">
        <h2 class="header">Storage</h2>
        <p class="caption">This is a a tool which implements the repository of key - value storage.</p>

        <div class="col s12 m6">
          <div class="card type type2">
            <div class="card-image">
              <span class="card-title">storage.get</span>
            </div>  
            <div class="card-content">
              <p>Method returns the value of the specified key.</p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card type type2">
            <div class="card-image">
              <span class="card-title">storage.set</span>
            </div>  
            <div class="card-content">
              <p>Method stores the value for the specified key.</p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card type type2">
            <div class="card-image">
              <span class="card-title">storage.view</span>
            </div>  
            <div class="card-content">
              <p>Method returns names and values of all stored keys.</p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>
      </div>

      <div class="section row scrollspy" id="api-documentation-group-payments">
        <h2 class="header">Payments</h2>
        <p class="caption"><i>No description.</i></p>

        <div class="col s12 m6">
          <div class="card type type3">
            <div class="card-image">
              <span class="card-title">payments.show</span>
            </div>  
            <div class="card-content">
              <p>Method is designed to show payment box.</p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card type type3">
            <div class="card-image">
              <span class="card-title">payments.visit</span>
            </div>  
            <div class="card-content">
              <p>Method is designed to remember proposal to buy some virtual good.</p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>
      </div>

      <div class="section row scrollspy" id="api-documentation-group-promo">
        <h2 class="header">Promo</h2>
        <p class="caption">This is a set of methods which allow to use a free promo codes for the buying some virtual goods.</p>

        <div class="col s12 m6">
          <div class="card type type4">
            <div class="card-image">
              <span class="card-title">promo.get</span>
            </div>  
            <div class="card-content">
              <p>Method is designed for checking availablity of some promo code.</p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>
      </div>

      <div class="section row scrollspy" id="api-documentation-group-level">
        <h2 class="header">Level</h2>
        <p class="caption">This is a set of methods which allow check and set current level of user.</p>

        <div class="col s12 m6">
          <div class="card type type5">
            <div class="card-image">
              <span class="card-title">level.get</span>
            </div>  
            <div class="card-content">
              <p>Method is designed for getting current level of user.</p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card type type5">
            <div class="card-image">
              <span class="card-title">level.set</span>
            </div>  
            <div class="card-content">
              <p>Method is designed for setting current level of user.</p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card type type5">
            <div class="card-image">
              <span class="card-title">level.update</span>
            </div>  
            <div class="card-content">
              <p>Method is designed for setting score and stars of specific level.</p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card type type5">
            <div class="card-image">
              <span class="card-title">level.stars</span>
            </div>  
            <div class="card-content">
              <p>Method is designed for getting a total count of stars getting by user.</p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>
      </div>

      <div class="section row scrollspy" id="api-documentation-group-score">
        <h2 class="header">Score</h2>
        <p class="caption">This is a tool for the storing values of the game scores</p>

        <div class="col s12 m6">
          <div class="card type type6">
            <div class="card-image">
              <span class="card-title">score.set</span>
            </div>  
            <div class="card-content">
              <p>Method for store the value of the player score.</p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>
      </div>

      <div class="section row scrollspy" id="api-documentation-group-coins">
        <h2 class="header">Coins</h2>
        <p class="caption">This is a tool for the storing values of the game coins.</p>

        <div class="col s12 m6">
          <div class="card type type7">
            <div class="card-image">
              <span class="card-title">coins.set</span>
            </div>  
            <div class="card-content">
              <p>Method for store the value of the player coins count.</p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>
      </div>

      <div class="section row scrollspy" id="api-documentation-group-energy">
        <h2 class="header">Energy</h2>
        <p class="caption"><i>No description.</i></p>

        <div class="col s12 m6">
          <div class="card type type8">
            <div class="card-image">
              <span class="card-title">energy.get</span>
            </div>  
            <div class="card-content">
              <p><i>No description.</i></p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>
      </div>

      <div class="section row scrollspy" id="api-documentation-group-notifications">
        <h2 class="header">Notifications</h2>
        <p class="caption"><i>No description.</i></p>

        <div class="col s12 m6">
          <div class="card type type9">
            <div class="card-image">
              <span class="card-title">notifications.send</span>
            </div>  
            <div class="card-content">
              <p><i>No description.</i></p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>
      </div>

      <div class="section row scrollspy" id="api-documentation-group-request">
        <h2 class="header">Request</h2>
        <p class="caption"><i>No description.</i></p>

        <div class="col s12 m6">
          <div class="card type type10">
            <div class="card-image">
              <span class="card-title">request.send</span>
            </div>  
            <div class="card-content">
              <p><i>No description.</i></p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>
      </div>

      <div class="section row scrollspy" id="api-documentation-group-buttles">
        <h2 class="header">Buttles</h2>
        <p class="caption"><i>No description.</i></p>

        <div class="col s12 m6">
          <div class="card type type11">
            <div class="card-image">
              <span class="card-title">buttles.send</span>
            </div>  
            <div class="card-content">
              <p><i>No description.</i></p>
            </div>
            <div class="card-action">
              <a href="#">Examples</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="api-examples">
</div>
<div class="container" id="api-usage">
  <div class="row">
    <div class="col hide-on-small-only m3 l2">
      <div style="height: 1px;">
        <ul class="section table-of-contents" data-origpos="64" data-origmargin="1.5rem" style="top: 48px; margin-top: 1.5rem;">
          <li><a href="#api-usage-group-users" class="active">users</a></li>
          <li><a href="#api-usage-group-storage">storage</a></li>
          <li><a href="#api-usage-group-payments">payments</a></li>
          <li><a href="#api-usage-group-promo">promo</a></li>
          <li><a href="#api-usage-group-level">level</a></li>
          <li><a href="#api-usage-group-score">score</a></li>
          <li><a href="#api-usage-group-coins">coins</a></li>
          <li><a href="#api-usage-group-energy">energy</a></li>
          <li><a href="#api-usage-group-notifications">notifications</a></li>
          <li><a href="#api-usage-group-request">request</a></li>
          <li><a href="#api-usage-group-buttles">buttles</a></li>
        </ul>
      </div>
    </div>

    <div class="col s12 m9 l10">
      <div class="col s12 m9 l10">
        <div class="section row scrollspy" id="api-usage-group-users">
          <div class="col s12 m12 l12">
            <div class="card type type1">
              <div class="card-image">
                <span class="card-title">users</span>
              </div>  
              <div class="card-content">
                <canvas id="usage-group-users"></canvas>
              </div>
              <div class="card-action">
                <a href="#">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m9 l10">
        <div class="section row scrollspy" id="api-usage-group-storage">
          <div class="col s12 m12 l12">
            <div class="card type type2">
              <div class="card-image">
                <span class="card-title">storage</span>
              </div>  
              <div class="card-content">
                <canvas id="usage-group-storage"></canvas>
              </div>
              <div class="card-action">
                <a href="#">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m9 l10">
        <div class="section row scrollspy" id="api-usage-group-payments">
          <div class="col s12 m12 l12">
            <div class="card type type3">
              <div class="card-image">
                <span class="card-title">payments</span>
              </div>  
              <div class="card-content">
                <canvas id="usage-group-payments"></canvas>
              </div>
              <div class="card-action">
                <a href="#">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m9 l10">
        <div class="section row scrollspy" id="api-usage-group-promo">
          <div class="col s12 m12 l12">
            <div class="card type type4">
              <div class="card-image">
                <span class="card-title">promo</span>
              </div>  
              <div class="card-content">
                <canvas id="usage-group-promo"></canvas>
              </div>
              <div class="card-action">
                <a href="#">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m9 l10">
        <div class="section row scrollspy" id="api-usage-group-level">
          <div class="col s12 m12 l12">
            <div class="card type type5">
              <div class="card-image">
                <span class="card-title">level</span>
              </div>  
              <div class="card-content">
                <canvas id="usage-group-level"></canvas>
              </div>
              <div class="card-action">
                <a href="#">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m9 l10">
        <div class="section row scrollspy" id="api-usage-group-score">
          <div class="col s12 m12 l12">
            <div class="card type type6">
              <div class="card-image">
                <span class="card-title">score</span>
              </div>  
              <div class="card-content">
                <canvas id="usage-group-score"></canvas>
              </div>
              <div class="card-action">
                <a href="#">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m9 l10">
        <div class="section row scrollspy" id="api-usage-group-coins">
          <div class="col s12 m12 l12">
            <div class="card type type7">
              <div class="card-image">
                <span class="card-title">coins</span>
              </div>  
              <div class="card-content">
                <canvas id="usage-group-coins"></canvas>
              </div>
              <div class="card-action">
                <a href="#">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m9 l10">
        <div class="section row scrollspy" id="api-usage-group-energy">
          <div class="col s12 m12 l12">
            <div class="card type type8">
              <div class="card-image">
                <span class="card-title">energy</span>
              </div>  
              <div class="card-content">
                <canvas id="usage-group-energy"></canvas>
              </div>
              <div class="card-action">
                <a href="#">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m9 l10">
        <div class="section row scrollspy" id="api-usage-group-notifications">
          <div class="col s12 m12 l12">
            <div class="card type type9">
              <div class="card-image">
                <span class="card-title">notifications</span>
              </div>  
              <div class="card-content">
                <canvas id="usage-group-notifications"></canvas>
              </div>
              <div class="card-action">
                <a href="#">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m9 l10">
        <div class="section row scrollspy" id="api-usage-group-request">
          <div class="col s12 m12 l12">
            <div class="card type type10">
              <div class="card-image">
                <span class="card-title">request</span>
              </div>  
              <div class="card-content">
                <canvas id="usage-group-request"></canvas>
              </div>
              <div class="card-action">
                <a href="#">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m9 l10">
        <div class="section row scrollspy" id="api-usage-group-buttles">
          <div class="col s12 m12 l12">
            <div class="card type type11">
              <div class="card-image">
                <span class="card-title">buttles</span>
              </div>  
              <div class="card-content">
                <canvas id="usage-group-buttles"></canvas>
              </div>
              <div class="card-action">
                <a href="#">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{$url}/assets/js/chart.js"></script>
<script>
{literal}
function struct(data, label) {
  return [{
    label: label,
    fillColor: "rgba(174, 218, 235, 0.5)",
    strokeColor: "rgba(122, 161, 176, 1.0)",
    pointColor: "rgba(255, 255, 255, 1.0)",
    pointStrokeColor: "rgba(122, 161, 176, 1.0)",
    pointHighlightFill: "rgba(255, 255, 255, 1.0)",
    pointHighlightStroke: "rgba(255, 255, 255, 1.0)",
    data: data
  }];
};
var structure = function() {
  this.keys = [];
  this.values = [];
};
var options = {
  responsive: true,
  scaleGridLineColor: "rgba(204, 204, 204, 0.3)",
  tooltipTemplate: "<%= datasetLabel %>: <%= value %>",
  multiTooltipTemplate: "<%= datasetLabel %>: <%= value %>"
};
var groups = [
  {key: 'users', data: new structure()},
  {key: 'storage', data: new structure()},
  {key: 'payments', data: new structure()},
  {key: 'promo', data: new structure()},
  {key: 'level', data: new structure()},
  {key: 'score', data: new structure()},
  {key: 'coins', data: new structure()},
  {key: 'energy', data: new structure()},
  {key: 'notifications', data: new structure()},
  {key: 'request', data: new structure()},
  {key: 'buttles', data: new structure()}
];
{/literal}
{foreach from=$statistics.users item=value}groups[0].data.keys.push('{$value.time|date_format:"%d %B"}');groups[0].data.values.push('{$value.count}');{/foreach}
{foreach from=$statistics.storage item=value}groups[1].data.keys.push('{$value.time|date_format:"%d %B"}');groups[1].data.values.push('{$value.count}');{/foreach}
{foreach from=$statistics.payments item=value}groups[2].data.keys.push('{$value.time|date_format:"%d %B"}');groups[2].data.values.push('{$value.count}');{/foreach}
{foreach from=$statistics.promo item=value}groups[3].data.keys.push('{$value.time|date_format:"%d %B"}');groups[3].data.values.push('{$value.count}');{/foreach}
{foreach from=$statistics.level item=value}groups[4].data.keys.push('{$value.time|date_format:"%d %B"}');groups[4].data.values.push('{$value.count}');{/foreach}
{foreach from=$statistics.score item=value}groups[5].data.keys.push('{$value.time|date_format:"%d %B"}');groups[5].data.values.push('{$value.count}');{/foreach}
{foreach from=$statistics.coins item=value}groups[6].data.keys.push('{$value.time|date_format:"%d %B"}');groups[6].data.values.push('{$value.count}');{/foreach}
{foreach from=$statistics.energy item=value}groups[7].data.keys.push('{$value.time|date_format:"%d %B"}');groups[7].data.values.push('{$value.count}');{/foreach}
{foreach from=$statistics.notifications item=value}groups[8].data.keys.push('{$value.time|date_format:"%d %B"}');groups[8].data.values.push('{$value.count}');{/foreach}
{foreach from=$statistics.request item=value}groups[9].data.keys.push('{$value.time|date_format:"%d %B"}');groups[9].data.values.push('{$value.count}');{/foreach}
{foreach from=$statistics.buttles item=value}groups[10].data.keys.push('{$value.time|date_format:"%d %B"}');groups[10].data.values.push('{$value.count}');{/foreach}

groups.forEach(function(group) {
  new Chart(document.getElementById("usage-group-" + group.key).getContext("2d")).Line({
    labels: group.data.keys,
    datasets: struct(group.data.values, '')
  }, options);
});
</script>
{include file="ApiController/include/footer.html"}
