{include file="BaseViews/header.html"}
<section class="content">
  <div class="left nomargin">
    <div class="classes">
      <h2>Contents</h2>
      <div><a href="#work">Work in our company</a></div>
      <div><a href="#vacancies">Our vacancies</a></div>
    </div>
  </div>
  <div class="right">
    <h2>Career</h2>
    <h3 id="work">Work in Our Company</h3>
    <p>Tooflya Inc. - a unique combination of knowledge, experience and skills required for a successful IT business.</p>
    <p>We need in our company as mature professionals with experience in various areas of the application development, and young professionals interested in gaining unique knowledge, professional and career evolution. We bring together motivated people who are not afraid to make decisions and take responsibility.</p>
    <p>Market of mobile applications is developing at a tremendous rate. And we are growing with it. We introduce you to grow with us. Take a chance to make a career, don’t delay the result for many years!</p>
    <h3 id="vacancies">Vacancies</h3>
    <p><b>Sorry, but we have no vacancies at that moment.</b></p>
  </div>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}



