{include file="BaseViews/header.html"}
<section class="space">
</section>
<div class="content">
  <h1>Career</h1>
  <p>Career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career career</p>
</div>
{include file="BaseViews/footer.html"}
