{include file="BaseViews/header.html"}
<section class="content">
  <div class="left nomargin">
    <div class="classes">
      <h2>{l s='Contents'}</h2>
      <div><a href="#about">{l s='About us'}</a></div>
    </div>
  </div>
  <div class="right">
    <h1 id="about">{l s='About Our Company'}</h1>
    <p>{l s='Tooflya Inc. was established in 2012 by the group of five highly qualified experts in the field of information technology, design and advertising from Ukraine. It is based in Kharkov'}.</p>

    <p>{l s='The company specializes in the application development for Android OS. Android OS - one of the most popular mobile platforms in the world. In contrast to the platform iOS, in which works only products of the Apple company, on the platform Android OS running phones of various companies such as Samsung, LG, HTC and others. This platform was chosen on purpose, because in modern world Android OS has the main part of the world’s market of mobile applications. Activities of the entity is the development and promotion of mobile applications for a wide range of customers. Special attention is given to games, because this type of the software is most demanded by users'}.</p>

    <p>{l s='Despite the fact that the company is young, it is enough strong and its founders have a number of great ideas, that will be implemented as soon as possible'}.</p>

    <ul>{l s='Our team develops interesting and convenient mobile applications, basic properties of witch are'}:
    <li>{l s='Ease of use'};</li>
    <li>{l s='The involvement of the application user'};</li>
    <li>{l s='Benefits'}.</li></ul>
  </div>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}
