{include file="BaseViews/header.html"}
<section class="space">
</section>
<div class="content">
  <h1>About our company</h1>
  <p>Page about our company page about our company page about our company page about our company page about our company page about our company page about our company page about our company page about our company page about our company page about our company page about our company page about our company page about our company page about our company page about our company page about our company page about our company page about our company page about our company page about our company </p>
</div>
{include file="BaseViews/footer.html"}
