{include file="BaseViews/header.html"}
<section class="space">
</section>
<div class="content">
  <h1>Distribution</h1>
  <p>Distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution distribution</p>
</div>
{include file="BaseViews/footer.html"}
