{include file="BaseViews/header.html"}
  <section class="products-presentation">
      <div class="visible-desktop">
        <div class="content">
          <div class="try"></div>
            <ul class="control-links">
              <li data-index="0" class="active">1</li>
              <li data-index="1">2</li>
              <li data-index="2">3</li>
              <li data-index="3">4</li>
              <li data-index="4">5</li>
              <li data-index="5">6</li>
            </ul>
        </div>
      </div>
  </section>
{include file="BaseViews/footer.html"}
