{include file="BaseViews/header.html"}
  <section class="products-presentation reflection">
    <div class="content">
      <div class="slider">
        <a id="slider-left" class="arrow arrow-left"></a>
        <a id="slider-right" class="arrow arrow-right"></a>
        <div class="ads">
          <ul id="slider">
            <li class="banner banner-2"><a><img src="{$url}/assets/img/Bubble-Fun-Big-Banner.jpg" alt="" /></a></li>
            <!--<li class="banner"><a><img src="{$url}/assets/img/2.jpg" alt="" /></a></li>
            <li class="banner"><a><img src="{$url}/assets/img/3.jpg" alt="" /></a></li>
            <li class="banner"><a><img src="{$url}/assets/img/4.jpg" alt="" /></a></li>
            <li class="banner"><a><img src="{$url}/assets/img/5.jpg" alt="" /></a></li>-->
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <ul class="control-links" style="width: 12px !important;">
        <li data-index="3" class="active"></li>
        <!--<li data-index="1"></li>
        <li data-index="2"></li>
        <li data-index="3"></li>
        <li data-index="4"></li>
        <li data-index="5"></li>-->
      </ul>
    </div>
  </section>

  <div class="content">
    <div style="padding-bottom:20px">
      <h1>Check Our Apps on Google Play</h1>
      <p>
          <img alt="Google Play" src="{$url}/assets/img/android-market-icon.png" class="left" style="width: 100px" />
            You can visit our page on Google Play to download and have fun with the best applications of mobile gaming industry.
            Spend a number of hours in a wonderful world of games and joy.
            Dive into the space of colourful graphics, magnificent sounds and interesting gameplay. Tooflya Inc. will help you with it.
          <p class="button-link">
            <a class="button" href="https://play.google.com/store/apps/developer?id=Tooflya+Inc." target="_blank">Visit Google Play</a> 
            Also check us on the <a href="">other app markets</a>
          </p>
      </p>
    </div>
    <div style="border-top:1px #ccc solid;padding-top: 20px;padding-bottom: 20px">
        <img src="{$url}/assets/img/Bubble-Fun-Small-Banner.jpg" alt="" style="width:55%" class="float-left image" />
      <div class="float-left presentation">
        <h2>Our Next Game Under Development</h2>
        <p>
          At the nearest time all the world will see the new creation from our developers.
          The game will be performed in genre “runner”, in genre that contains the elements of arcade and action.
          It still have no name, but characters and graphics are awesome.
          You can see it yourself in the picture to the left.
        </p>
        <p>
          For more information, please visit our blog.
        </p>
        <a class="button" href="{$url}/blog/">Read more from our blog</a>
      </div>
      <div class="clearfix"></div>
    </div>
     <div style="border-top:1px #ccc solid;padding-top: 20px;padding-bottom: 20px">
        <h2>Check Our Other Games and Software</h2>
        <ul class="sites-list">
          <li><a><img src="{$url}/assets/img/bubble-fun-icon-small.png" alt="" />Bubble Fun</a></li>
          <!--<li><a><img src="{$url}/assets/img/7.jpg" alt="" />Some Awesome Game</a></li>-->
        </ul>
     </div>
  </div>
{include file="BaseViews/footer.html"}
