{include file="BaseViews/header.html"}
  <section class="products-presentation">
    <div class="content">
      <div class="slider">
        <div class="arrow arrow-left"></div>
        <div class="arrow arrow-right"></div>
        <div class="ads"><img src="https://lh6.ggpht.com/w3YpMoAA5JBLsG4qtDzgBc22K7ktMDNjPiBb2TCOVnDLgTDo0Lt4lEeTm6unlmlocc_r=w705"></div>
        <div class="clearfix"></div>
      </div>
      <ul class="control-links">
        <li data-index="0" class="active"></li>
        <li data-index="1"></li>
        <li data-index="2"></li>
        <li data-index="3"></li>
        <li data-index="4"></li>
        <li data-index="5"></li>
      </ul>
      <div class="information">
      </div>
    </div>
  </section>
{include file="BaseViews/footer.html"}
