{include file="BaseViews/header.html"}
<section class="content">
  <div class="left">LEFT</div>
  <div class="right">
    <h1>We Are Open For Partnership</h1>
    <p>Да, мы открыты к партнерству различного характера. Если у вас есть идеи по реализации ваших грандиозных идей, предложения по улучению продуктов, идеи для реализации в сотрудничестве или какое-либо деловое <strike>или не очень</strike> предложение - мы всегда рады вам!</p>
    <p>Существует несколько видов партнерства, котором мы <b>особо</b> рады:</p>
    <h3>Предложения о Сотрудничестве</h3>
    <p>В нашей компании достаточно маленький коллектив, где каждый член команды отвечает за целый ряд аспектов нашей дейятельности. Благодаря этому достигается высокая организация разработки приложений, но
    	и имеет ряд недостатков, одним из которых мы сильно недовольны - фрагментация. В некоторых случаях </p>
  </div>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}
