{include file="BaseViews/header.html"}
<section class="content">
  <div class="left nomargin">
    <div class="classes">
      <h2>Contents</h2>
      <div><a href="#free">For interested</a></div>
      <div><a href="#company">For organizations</a></div>
      <div><a href="#charity">Participation in charity</a></div>
      <div><a href="#contacts">Where to write?</a></div>
    </div>
  </div>
  <div class="right">
    <h1>We Are Open For Partnership</h1>
    <p>Yes, we are open for partnerships of various kinds. If you have any ideas for realization of your grandiose ideas, suggestions of production improvements, ideas for implementation in cooperation or any offer, business <s>or not very</s> - we are always glad for you!</p>
    <p>There are several types of partnerships, we are <b>especially</b> pleased:</p>
    <h3 id="free">Offers of Cooperation</h3>
    <p>Our company has small team where each member is responsible for many aspects of our business. Due to it we achieve a high organization of application development, but also exist a  number of disadvantages, one of which is fragmentation. In some cases, individual members of the team have to wait for the others. That is why we are ready to cooperate:</p>
      <p>
        <ul>
          <li>If you are a novice experienced or no experienced game developer and you're interested in it;</li>
          <li>If you know how to draw, but for your ideas you need help;</li>
          <li>If you own mobile applications of a different nature and you are interested in their progress;</li>
          <li>If you are ready to cooperate with us, but do not know how.</li>
        </ul>
      </p>
    <h3 id="company">Cooperation with Organizations</h3>
    <p>We are interested in cooperation with various organizations and publishers, and are ready for fruitful cooperation in the following areas:</p>
      <p>
        <ul>
          <li>Cooperation for projects promotion;</li>
          <li>Participate in various activities on sales;</li>
          <li><b>Participation in the Bundle Sales;</b></li>
          <li>Assist in the development of projects.</li>
        </ul>
      </p>
    <h3 id="charity">Participation in Charity</h3>
    <p>We are ready to participate in different activities in Kharkоv, Ukraine. If you are the organizer of any campaign, we are ready to support you and do our best for your project that can help in some situations.</p>
    <h3 id="contacts">Where to Write?</h3>
    <p>For fast processing of your requests, we have several mailboxes. Please, specify the correct e-mail subject. Please contact:</p>
      <p>
        <ul>
          <li><b>support@tooflya.com</b> - for information, suggestions and feedback;</li>
          <li><b>info@tooflya.com</b> - common information;</li>
          <li><b>pr@tooflya.com</b> - promotion and advertising.</li>
        </ul>
      </p>
  </div>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}
