{include file="BaseViews/header.html"}
<section class="space">
</section>
<div class="content">
  <h1>Partnership</h1>
  <p>Partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership partnership</p>
</div>
{include file="BaseViews/footer.html"}
