{include file="BaseViews/header.html"}
<section class="content">
  <div class="left nomargin">
    <div class="classes">
      <h2>Contents</h2>
      <div><a href="#developers">Technical developers</a></div>
      <div><a href="#artists">Artists and designers</a></div>
      <div><a href="#pr">PR and marketing</a></div>
    </div>
  </div>
  <div class="right">
    <h1>Our Team</h1>
    <p>
      Here we are - the founders of Tooflya company in Kharkov!
    </p>
    <ul class="base-team-list">
      <li>
        <h3 id="developers">Technical Developers</h3>
        <ul class="team-list">
          <li>
            <div class="float-left">
              <img src="{$url}/assets/img/team/RqUR1zRQf1Z.png" alt="" />
            </div>
            <div>
              <div class="title">Igor Mats</div>
              <div class="info">CEO of Tooflya Inc., Android and Windows Phone Developer, Web Developer</div>
              <div class="text">
                <div>
                  I am here to make the world more interesting. I put the soul into the development of games and applications and creating a universe for the characters.
                  Much attention is paid to the mobile development and <b>Android</b> operating system in particular.<br />
                  <span style="color: green">// Wizard 80 lvl</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="float-left">
              <img src="{$url}/assets/img/team/RqUR2zRQf1Z.png" alt="" />
            </div>
            <div>
              <div class="title">Rostyslav Pudlo</div>
              <div class="info">Co-founder of Tooflya Inc., Senior Developer, Idea Creator</div>
              <div class="text">
                <div>
                  Magic! Would you want to hear this word about your work? ...hard work with "borrow" math, "hamful" programming and days without free minutes?
                  Magic! Is it cool? There is more pleased thing! Magic! This word I want to say myself about my result never mind about knowing every bug and uncorrected problem.<br />
                  <span style="color: green">// Unknow Creature</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="clearfix"></div>
      </li>
      <li>
        <h3 id="artists">Artists and Designers</h3>
        <ul class="team-list">
          <li>
            <div class="float-left">
              <img src="{$url}/assets/img/team/RqUR14zRQf1Z.png" alt="" />
            </div>
            <div>
              <div class="title">Anna Fomenko</div>
              <div class="info">Co-founder of Tooflya Inc., Senior Artist, Artist of Animation and Computer Graphics</div>
              <div class="text">
                <div>
                  Make the world more wonderful - that's my main goal! Artistic taste, knowledge and sense of colors, shapes, proportions, and knowledges of the brush and pencil helps me to create a awesome and beautiful graphics for games projects. I believe that the world is ruled by the beauty and... coookies! :))<br />
                  <span style="color: green">// Pencil Philosophy</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="float-left">
              <img src="{$url}/assets/img/team/RqURzRQf1Z.png" alt="" />
            </div>
            <div>
              <div class="title">Dmitry Shane</div>
              <div class="info">CFO of Tooflya Inc., Project Manager, Senior Games and Web Designer</div>
              <div class="text">
                <div>
                  As project manager for programmers, as a director in the film - I conducted the team.
                  I need skills analyst, a psychologist, a technical writer and I have to be a team player.
                  Creating the world and the universe of the game, be able to communicate your vision to others.<br />
                  <span style="color: green">// Art-Guru</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="clearfix"></div>
      </li>
      <li>
        <h3 id="pr">PR and Marketing</h3>
        <ul class="team-list">
          <li>
            <div class="float-left">
              <img src="{$url}/assets/img/team/RqURzRQf11Z.png" alt="" />
            </div>
            <div>
              <div class="title">Anton Korobsky</div>
              <div class="info">Co-founder of Tooflya Inc., Public Relations Manager</div>
              <div class="text">
                <div>
                  Public relations is my main goal. Not enough to create a high-quality product - in order to be successful need to make a huge amount of effort to find out about you.<br />
                  Possession of information - a key factor for success.<br />
                  <span style="color: green">// Prophet with 100% HP</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}
