{include file="BaseViews/header.html"}
<section class="content">
  <div class="left nomargin">
    <div class="classes">
      <h2>Contents</h2>
      <div><a href="#developers">Technical developers</a></div>
      <div><a href="#artists">Artists and designers</a></div>
      <div><a href="#pr">PR and marketing</a></div>
    </div>
  </div>
  <div class="right">
    <h1>Our Team</h1>
    <p>
      Привет! Мы молодая и амбициозная команда разработчиков мобильных приложений из Харькова.

    </p>
    <ul class="base-team-list">
      <li>
        <h3 id="developers">Technical Developers</h3>
        <ul class="team-list">
          <li>
            <div class="float-left">
              <img src="{$url}/assets/img/team/h7zO2TLq3Z.jpg" alt="" />
            </div>
            <div>
              <div class="title">Igor Mats</div>
              <div class="info">CEO of Tooflya Inc., Android and Windows Phone Developer, Web Developer</div>
              <div class="text">
                <div>
                  Имеет большой опыт в различных областях сферы информационных технологий.
                  Любовь к делу и большое желание творить позволяют Игорю создавать превосходные продукты от корпоративных сайтов, до высонагруженных веб платформ.
                  Но больше всего Игорь любит делать игры для мобильных платформ, создавая целую вселенную для персонажей :)
                  <p></p>
                  <h4>Технические навыки</h4>
                  <ul>
                    <li>123</li>
                  </ul>
                </div>
                <p><a class="button">Send Private Email</a> <a>Find in social networks</a></p>
              </div>
            </div>
          </li>
        </ul>
        <div class="clearfix"></div>
      </li>
      <li>
        <h3 id="artists">Artists and Designers</h3>
        <div class="clearfix"></div>
      </li>
      <li>
        <h3 id="pr">PR and Marketing</h3>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}
