{include file="BaseViews/header.html"}
<section class="content">
  <div>
   	<h1>Our team</h1>
	<p>Page about our team page about our team page about our team page about our team page about our team page about our team page about our team page about our team page about our team page about our team page about our team page about our team page about our team page about our team page about our team page about our team </p>
	<ul class="team-list">
	<li>
		<div class="float-left">
			<img src="{$url}/assets/img/8.jpg" alt="" />
		</div>
		<div>
			<div class="title">Employee #1</div>
			<div class="text">
				This is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text...
				<p><a class="button">Send Private Email</a> <a>Find in social networks</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="float-left">
			<img src="{$url}/assets/img/8.jpg" alt="" />
		</div>
		<div>
			<div class="title">Employee #1</div>
			<div class="text">
				This is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text...
				<p><a class="button">Send Private Email</a> <a>Find in social networks</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="float-left">
			<img src="{$url}/assets/img/8.jpg" alt="" />
		</div>
		<div>
			<div class="title">Employee #1</div>
			<div class="text">
				This is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text...
				<p><a class="button">Send Private Email</a> <a>Find in social networks</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="float-left">
			<img src="{$url}/assets/img/8.jpg" alt="" />
		</div>
		<div>
			<div class="title">Employee #1</div>
			<div class="text">
				This is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text...
				<p><a class="button">Send Private Email</a> <a>Find in social networks</a></p>
			</div>
		</div>
	</li>
	<li>
		<div class="float-left">
			<img src="{$url}/assets/img/8.jpg" alt="" />
		</div>
		<div>
			<div class="title">Employee #1</div>
			<div class="text">
				This is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text this is a simple text...
				<p><a class="button">Send Private Email</a> <a>Find in social networks</a></p>
			</div>
		</div>
	</li>
	<li></li>
	</ul>
  </div>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}
