      </div>
      <footer id="footer">
        <div class="content">
          <div class="footer">
            <div class="content">
              <div>
                <a href="//network.tooflya.com">Tooflya Network</a>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{$url}/assets/js/materialize.min.js"></script>
    <script src="{$url}/assets/js/library.js"></script>
    <script src="{$url}/assets/js/api.js"></script>
    <script src="{$url}/assets/js/prism.js"></script>
  </body>
</html>
