<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tooflya API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Tooflya Inc. - {l s='a unique combination of knowledge, experience and skills required for a successful IT business'}.">
    <meta name="keywords" content="Tooflya, tooflya, games, android, Android OS, free games, mobile, buy game, new games.">
    <meta name="author" content="Tooflya Inc.">

    <link href="{$url}/assets/css/style.css" rel="stylesheet" media="screen, projection">
    <link href="{$url}/assets/css/api.css" rel="stylesheet">
    <link href="{$url}/assets/css/prism.css" rel="stylesheet">

    <link rel="shortcut icon" href="{$url}/assets/ico/api.favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <script>
    (function(doc) {
        var viewport = document.getElementById('viewport');
        if(navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i)) {
          viewport.setAttribute("content", "initial-scale=0.5");
        } else if ( navigator.userAgent.match(/iPad/i) ) {
          viewport.setAttribute("content", "initial-scale=1.0");
        }
    }(document));
    </script>
  </head>
  <body data-twttr-rendered="true">
    <div class="body">
      <div class="content">
        <nav id="">
          <div class="container">
            <div class="nav-wrapper">
              <a href="{$url}" class="brand-logo">Tooflya API <sup>Beta</sup></a>
              <ul id="nav-mobile" class="right side-nav">
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
          </div>
        </nav>
        <div class="tabs-wrapper">
          <div class="row white z-depth-1">
            <div class="container">
              <ul class="tabs">
                <li class="tab"><a href="#api-introducing">Introducing</a></li>
                <li class="tab"><a href="#api-documentation">Documentation</a></li>
                <li class="tab"><a href="#api-examples">Examples</a></li>
                <li class="tab"><a href="#api-usage">Usage</a></li>
              </ul>
            </div>
          </div>
        </div>
