    <footer id="footer">
      <div class="content">
        <div class="links">
          <ul class="links">
            <li><a href="{$url}"><b>{l s='Home'}</b></a></li>
            <li><a href="{$url}/web/company/">{l s='Company'}</a></li>
            <!--<li><a href="{$url}/web/activities/" rel="nofollow">Activities</a></li>-->
            <li><a href="{$url}/web/career/">{l s='Career'}</a></li>
            <li><a href="{$url}/press/">{l s='Press'}</a></li>
            <li><a href="{$url}/blog/">{l s='Blog'}</a></li>
            <li><a href="{$url}/web/partnership/">{l s='Partnership'}</a></li>
            <li><a href="{$url}/projects/">{l s='Projects'}</a></li>
            <li><a href="{$url}/feedback/">{l s='Feedback'}</a></li>
            <!--<li><a href="{$url}/development/" rel="nofollow">Development</a></li>-->
            <!--<li><a href="{$url}/web/distribution/" rel="nofollow">Distribution</a></li>-->
          </ul>
        </div>
        <div class="footer">
          <div class="content">
            <div class="copyright">
              <div>&copy; Tooflya Inc. 2012 - 2014 | {l s='Applications Development'}</div>
            </div>
            <div class="language">
              <form id="languages" action="" method="post">
                <select name="language" id="languages-select">
                  {if $language == 'en'}
                  <option value="en">English</option>
                  <option value="ru">Русский</option>
                  {else}
                  <option value="ru">Русский</option>
                  <option value="en">English</option>
                  {/if}
                </select>
              </form>
            </div>
            <!--<div class="social-buttons">
              <ul>
                <li class="facebook"><a href="http://www.facebook.com/pages/Tooflya-Inc/386292514777918" target="_blank"></a></li>
                <li class="twitter"><a href="http://twitter.com/tooflya" target="_blank"></a></li>
                <li class="google"><a href="http://plus.google.com" target="_blank"></a></li>
                <li class="youtube"><a href="http://youtube.com" target="_blank"></a></li>
                <li class="vk"><a href="http://vk.com/tooflya" target="_blank"></a></li>
              </ul>
            </div>-->
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{$url}/assets/js/company/library.js"></script>
    {if !$ajax}
    <script src="{$url}/assets/js/company/events.js"></script>
    {/if}
    <script src="{$url}/assets/js/company/comments.js"></script>
  {if !$ajax}
  </div>
  </body>
</html>
  {/if}
