    <footer>
      <div class="content">
        <ul class="main">
          <li class="column-1">
            <h3>Like What You See?</h3>
            <div>
              <p>If you like what you see you may subscribe on us and receive information about all important events.</p>
              <p>Get some <span class="special">free versions</span> of our games and many others benefits!</p>
            </div>
            <form>
              <input type="text" value="" placeholder="Your email" />
              <a class="button">Subscribe</a>
            </form>
            <div class="subscribers">
              <span>{$subscribers_count}</span>
              <div>people already subscribed</div>
            </div>
          </li>
          <li class="column-2">
            <h4>Our Website Quick Links</h4>
            <ul>
              <li><a href="{$url}"><b>Home</b></a></li>
              <li><a href="{$url}/web/company/">Company</a></li>
              <li><a href="{$url}/web/activities/">Activities</a></li>
              <li><a href="{$url}/web/career/">Career</a></li>
              <li><a href="{$url}/press/">Press</a></li>
            </ul>
            <ul>
              <li><a href="{$url}/contacts/"><b>Contacts</b></a></li>
              <li><a href="{$url}/blog/">Blog</a></li>
              <li><a href="{$url}/web/team/">Team</a></li>
              <li><a href="{$url}/web/partnership/">Partnership</a></li>
              <li><a href="{$url}/projects/">Projects</a></li>
              <!--<li><a href="{$url}/development/" rel="nofollow">Development</a></li>-->
              <!--<li><a href="{$url}/web/distribution/" rel="nofollow">Distribution</a></li>-->
            </ul>
          </li>
          <li class="column-3">
            {$blog_latest_articles_template}
          </li>
          <li class="column-4">
            {$social_last_tweets}
          </li>
        </ul>
        <div class="footer">
          <div class="content">
            <div class="copyright">
              <div>&copy; Tooflya Inc. 2012 | Android Games Development</div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
