    <footer id="footer">
      <div class="content">
        <ul class="main">
          <li class="column-1">
            <h3>{l s='Like What You See?'}</h3>
            <div>
              <p>{l s='If you like what you see you may subscribe on us and receive information about all important events'}.</p>
              <p>{l s='Get some'} <span class="special">{l s='free versions'}</span> {l s='of our games and many others benefits'}!</p>
            </div>
            <form action="{$url}/subscribers/add/" method="POST">
              <input name="mail" type="text" value="" placeholder="{if isset($subscribe)}{if $subscribe}Thank you for subscribing{else}Invalid email or if it is already in use.{/if}{else}{l s='Your email'}{/if}" {if isset($subscribe)}style="border:1px {if $subscribe}green{else}red{/if} solid"{/if}/>
              <button type="submit" style="border:none;padding:3px 3px 3px 0;background-color:transparent"><a class="button">{l s='Subscribe'}</a></button>
            </form>
            <div class="subscribers">
              <span>{$subscribers_count}</span>
              <div>{l s='people already subscribed'}</div>
            </div>
          </li>
          <li class="column-2">
            <h4>{l s='Our Website Quick Links'}</h4>
            <ul>
              <li><a href="{$url}"><b>{l s='Home'}</b></a></li>
              <li><a href="{$url}/web/company/">{l s='Company'}</a></li>
              <!--<li><a href="{$url}/web/activities/" rel="nofollow">Activities</a></li>-->
              <li><a href="{$url}/web/career/">{l s='Career'}</a></li>
              <li><a href="{$url}/press/">{l s='Press'}</a></li>
            </ul>
            <ul>
              <li><a href="{$url}/feedback/"><b>{l s='Feedback'}</b></a></li>
              <li><a href="{$url}/blog/">{l s='Blog'}</a></li>
              <li><a href="{$url}/web/partnership/">{l s='Partnership'}</a></li>
              <li><a href="{$url}/projects/">{l s='Projects'}</a></li>
              <!--<li><a href="{$url}/development/" rel="nofollow">Development</a></li>-->
              <!--<li><a href="{$url}/web/distribution/" rel="nofollow">Distribution</a></li>-->
            </ul>
          </li>
          <li class="column-3">
            {$blog_latest_articles_template}
          </li>
          <li class="column-4">
            {$social_last_tweets}
          </li>
        </ul>
        <div class="footer">
          <div class="content">
            <div class="copyright">
              <div>&copy; Tooflya Inc. 2013 | {l s='Applications Development'}</div>
            </div>
            <div class="language">
              <form id="languages" action="" method="post">
                <select name="language" id="languages-select">
                  {if $language == 'en'}
                  <option value="en">English</option>
                  <option value="ru">Русский</option>
                  {else}
                  <option value="ru">Русский</option>
                  <option value="en">English</option>
                  {/if}
                </select>
              </form>
            </div>
            <div class="social-buttons">
              <ul>
                <li class="facebook"><a href="http://www.facebook.com/pages/Tooflya-Inc/386292514777918" target="_blank"></a></li>
                <li class="twitter"><a href="http://twitter.com/tooflya" target="_blank"></a></li>
                <!--<li class="google"><a href="http://plus.google.com" target="_blank"></a></li>-->
                <!--<li class="youtube"><a href="http://youtube.com" target="_blank"></a></li>-->
                <li class="vk"><a href="http://vk.com/tooflya" target="_blank"></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </footer>
    {literal}
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35862173-1']);
    _gaq.push(['_setDomainName', 'tooflya.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>

    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter18143194 = new Ya.Metrika({id:18143194, enableAll: true});
            } catch(e) { }
        });
        
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    {/literal}
  </body>
</html>
