<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tooflya {if isset($customTitle)}| {$customTitle}{/if}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tooflya Inc. - {l s='a unique combination of knowledge, experience and skills required for a successful IT business'}.">
    <meta name="keywords" content="Tooflya, tooflya, games, android, Android OS, free games, mobile, buy game, new games.">
    <meta name="author" content="Tooflya Inc.">

    <link href="{$url}/assets/css/style.css" rel="stylesheet">

    <script src="{$url}/assets/js/jquery.js"></script>
    <script src="{$url}/assets/js/library.js"></script>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{$url}/assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

    <script type="text/javascript" src="http://vk.com/js/api/openapi.js?64"></script>
    <script type="text/javascript">VK.init({apiId: 3239022, onlyWidgets: true});</script
  </head>

  <body>
    <header>
      <div class="content">
        <div class="logo" {if isset($index)}style="margin-left: 60px;"{/if}>
          <div class="logo-text"></div>
          <div class="logo-hero animation-1"></div>
          <a href="{$url}"></a>
        </div>
        <ul class="menu">
          <li><a href="{$url}" {if $tab == 'WebController/index'}class="active"{/if}>{l s='Home'}</a></li>
          <li><a href="{$url}/web/company/" {if $tab == 'WebController/company'}class="active"{/if}>{l s='Company'}</a></li>
          <li><a href="{$url}/web/partnership/" {if $tab == 'WebController/partnership'}class="active"{/if}>{l s='Partnership'}</a></li>
          <li><a href="{$url}/press/" {if $tab == 'PressController/index'}class="active"{/if}>{l s='Press'}</a></li>
          <li><a href="{$url}/blog/" {if $tab == 'BlogController/index'}class="active"{/if}>{l s='Blog'}</a></li>
          <li><a href="{$url}/web/team/" {if $tab == 'WebController/team'}class="active"{/if}>{l s='Team'}</a></li>
          <li><a href="{$url}/feedback/" {if $tab == 'FeedbackController/index'}class="active"{/if}>{l s='Feedback'}</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </header>
