{include file="BaseViews/header.html"}
<section class="content">
  <div class="left nomargin">
    <div class="classes">
      <h2>{l s='Contents'}</h2>
      <div><a href="#published">{l s='Published Projects'}</a></div>
      <div><a href="#current">{l s='Projects in Progress'}</a></div>
    </div>
  </div>
  <div class="right">
    <h1>{l s='Our Projects'}</h1>
    <p>{l s='Our team develops a whole bunch of cool projects, covering different fields of mobile development. The field of mobile games was chosen as the main area of ​​development, so most of all the information on our website is about this subject'}.</p>
    <h3 id="published">{l s='Published Projects'}</h3>
    <p>
     <div style="border-top:1px #ccc solid;padding-top: 20px;padding-bottom: 20px">
        <div class="sites-list">
          <div><a href="{$url}/blog/signs-review/"><img src="{$url}/assets/img/signs-icon-small.png" alt="" /></a></div>
          <div>
            <div>
              <h5>
                <a href="{$url}/blog/signs-review/">{l s="Signs HD Free"}</a>
                <span class="icon icon56 disable" title="{l s="Not available in Apple AppStore"}">&nbsp;</span>
                <span class="icon icon76 enable" title="{l s="Available in Google Play"}">&nbsp;</span>
                <span class="icon icon32 disable" title="{l s="Not available in Windows Store"}">&nbsp;</span>
                <span class="icon icon27 disable" title="{l s="Not available in Amazon App Store"}">&nbsp;</span>
              </h5>
              <p>{l s="You agreed to meet anybody and your opponent says that he comes 10 minutes late?"}</p>
              <p><b>{l s="With Signs time passes so that you don’t notice!"}</b></p>
            </div>
          </div>
        </div>
     </div>
    </p>
    <h3 id="current">{l s='Projects in Progress'}</h3>
    <p>
     <div style="border-top:1px #ccc solid;padding-top: 20px;padding-bottom: 20px">
        <div class="sites-list">
          <div><a href="{$url}/blog/nuclear-pizza-war-review/"><img src="{$url}/assets/img/nuclear-pizza-war-icon-small.png" alt="" /></a></div>
          <div>
            <div>
              <h5>
                <a href="{$url}/blog/nuclear-pizza-war-review/">{l s="Nuclear Pizza War"}</a>
                <span class="icon icon56 enable" title="{l s="Available in Apple AppStore"}">&nbsp;</span>
                <span class="icon icon76 enable" title="{l s="Available in Google Play"}">&nbsp;</span>
                <span class="icon icon32 enable" title="{l s="Available in Windows Store"}">&nbsp;</span>
                <span class="icon icon27 enable" title="{l s="Available in Amazon App Store"}">&nbsp;</span>
                <span class="icon icon00 enable" title="{l s="Available for testing"}">&nbsp;</span>
              </h5>
              <p>{l s="Exciting game in arcade genre from favorite of all of us company - Mojang"}</p>
              <p><b>{l s="Originally, this game was created only for PC, but we does not seem this restriction fair! And we did this game..."}</b></p>
            </div>
          </div>
        </div>
        <div class="sites-list">
          <div><a href="{$url}/blog/bubble-fun-review/"><img src="{$url}/assets/img/bubble-fun-icon-small.png" alt="" /></a></div>
          <div>
            <div>
              <h5>
                <a href="{$url}/blog/bubble-fun-review/">{l s="Bubble Fun"}</a>
                <span class="icon icon56 disable" title="{l s="Not available in Apple AppStore"}">&nbsp;</span>
                <span class="icon icon76 enable" title="{l s="Available in Google Play"}">&nbsp;</span>
                <span class="icon icon32 disable" title="{l s="Not available in Windows Store"}">&nbsp;</span>
                <span class="icon icon27 disable" title="{l s="Not available in Amazon App Store"}">&nbsp;</span>
                <span class="icon icon00 disable" title="{l s="Not available for testing"}">&nbsp;</span>
              </h5>
              <p>{l s="Almost every one of us in the childhood shooted birds from a slingshot, though it is not good..."}</p>
              <p><b>{l s="But childhood is over, and sometimes we so want to get back into it :)"}</b></p>
            </div>
          </div>
        </div>
        <div class="sites-list">
          <div><a href="{$url}/blog/roger-in-trouble-review/"><img src="{$url}/assets/img/roger-in-trouble-icon-small.png" alt="" /></a></div>
          <div>
            <div>
              <h5>
                <a href="{$url}/blog/roger-in-trouble-review/">{l s="Roger in Trouble"}</a>
                <span class="icon icon56 enable" title="{l s="Available in Apple AppStore"}">&nbsp;</span>
                <span class="icon icon76 enable" title="{l s="Available in Google Play"}">&nbsp;</span>
                <span class="icon icon32 enable" title="{l s="Available in Windows Store"}">&nbsp;</span>
                <span class="icon icon27 enable" title="{l s="Available in Amazon App Store"}">&nbsp;</span>
                <span class="icon icon00 disable" title="{l s="Not available for testing"}">&nbsp;</span>
              </h5>
              <p>{l s="<b>Roger</b> – a cool intergalactic slug! Flying through the galaxy in search of food and different interesting things."}</p>
              <p><b>{l s="He gets into an unequal battle with intergalactic pirates."}</b></p>
            </div>
          </div>
        </div>
     </div>
    </p>
  </div>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}
