{include file="BaseViews/header.html"}
<section class="content">
  <div class="left nomargin">
    <div class="classes">
      <h2>Contents</h2>
      <div><a href="#current">Current projects</a></div>
    </div>
  </div>
  <div class="right">
    <h1>Our Projects</h1>
    <p>Our team develops a whole bunch of cool projects, covering different fields of mobile development. The field of mobile games was chosen as the main area of ​​development, so most of all the information on our website is about this subject.</p>
    <h3 id="current">Current Projects</h3>
    <p>
      <ul>
        <li><a href="">Some project name</a></li>
        <li><a href="">Some project name</a></li>
      </ul>
    </p>
  </div>
  <div class="clearfix"></div>
</section>
{include file="BaseViews/footer.html"}
